{% extends "base.html" %}


{% block title %}Contributions{% endblock %}
{% block body %}
<div class="contentOnlyPage">
<h1>Receive recognition for your contributions to SolarPermit.org!</h1>

<p style="margin: 10px 0 20px 0;">As a registered user, you can receive recognition for your contributions to <a href="http://www.solarpermit.org">SolarPermit.org</a> and improve your company's visibility in search engines like Google. If you add your company to your profile on <a href="http://www.solarpermit.org">SolarPermit.org</a>, you increase your company's search engine optimization
(SEO) in locations where you work.
</p>

<p>Here's how:</p>
        <ol style="padding-left:20px;">
            <li style="padding-bottom:5px"><p>Log in to your account at <a href="http://www.solarpermit.org">SolarPermit.org</a>.</p></li>
            <li style="padding-bottom:5px"><p>Click Update your Organization Info in the upper right-hand corner of the page.</p></li>
            <li style="padding-bottom:5px"><p>Search for your organization.</p> </li>
                <ul>
                    <li style="list-style: disc outside none;" >Does it show up? If so, Click Add to my profile.</li>
                    <li style="list-style: disc outside none;" >Not yet? Click Create New and add your company's name and website.</li> 
                </ul>       
        </ol>


<p style="margin: 10px 0 20px 0;">
When you are a top contributor to any SolarPermit.org permitting page, we will recognize your company and link back to your company's website.
These links improve your SEO.
</p>
</div>

{% endblock %}  			