{% extends "base.jinja" %}


{% block title %}Getting Started{% endblock %}
{% block body %}
<div class="contentOnlyPage">
	<h1>Getting Started</h1>
	<p>Thanks for joining the SolarPermit.org community! We're confident that you'll be able to easily view and track permitting requirements in jurisdictions that you work in frequently.</p>
	<h2>Searching for and Viewing Permitting Requirements</h2>
	<p>You can easily find permitting requirements by using the search bar in our global header or the &quot;Browse Jurisdictions&quot; tab in the navigation bar.</p> 
	<ul>
		<li>Search by city, county, or zip code in the search bar, or</li>
		<li>Browse individual states using our interactive map on the Browse tab.</li>
	</ul>
	<p>In addition to hosting permitting requirements for cities and counties, SolarPermit.org also tracks permitting requirements for unincorporated towns and communities. Many of these communities rely on their county building department, which we're actively tracking.</p>
	<p>Once you've located a jurisdiction, you will be brought to <span class="underline">General</span> requirements that we've deemed important. These include the jurisdiction's contact information, location, hours of operation, fees, website URL, online forms, permit turnaround time, and common application errors.
	<p>In addition to the <span class="underline">General</span> tab, the permitting requirements are broken into the following categories*:</p>
	<ol>
		<li><span class="underline">Building</span>: PV array dimensions, load calculations, PE stamped letter</li>
		<li><span class="underline">Clerical</span>: page size requirements, required spec sheets</li>
		<li><span class="underline">Electrical</span>: NEC code version, AC or DC disconnect required</li>
		<li><span class="underline">Fire</span>: setbacks enforced</li>
		<li><span class="underline">Inspection Requirements</span>: type of inspections required</li>
		<li><span class="underline">Inspection Process</span>: inspector contact information, common inspection errors</li>
		<li><span class="underline">Utility</span>: utilities serving a jurisdiction, meter access needed</li>
		<li><span class="underline">Zoning</span>: zoning department contact information</li>
	</ol>
	<p>*Not comprehensive - each category includes a number of additional requirements.</p>
	<h2>Verifying and Updating Permitting Requirements</h2>
	<p>SolarPermit.org uses a community voting system to verify the accuracy of permitting requirements that are submitted to the site. You have the ability to approve or dispute new information via a thumbs up/ thumbs down button. Once the information has been validated (by 5 votes, or by remaining unchallenged for 2 weeks), it will be publicly displayed and marked as accurate.</p>
	<p>Try it out:</p>
	<ol>
		<li>Navigate to the page of an AHJ that you work in frequently</li>
		<li>Look at the &quot;Permit Fees&quot; field.
			<ol>
				<li>Does it look correct? If so, click the <span class="underline">thumbs up</span> icon next to the fee.</li>
				<li>Is it incorrect? Click the <span class="underline">thumbs down</span> icon next to the fee. Do you know what the correct fee is? Hover over <span class="underline">Permit Fees</span> and click the blue pencil icon when it appears. Add the correct fee, and click <span class="underline">Save</span>.</li>
			</ol>
		</li>
	</ol>
	<h2>Tracking requirements in your favorite jurisdictions</h2>
	<p>It's easy to stay updated when a jurisdiction changes their requirements. You can opt in to receive daily, weekly, or monthly email digests notifying you of any changes, or view changes in a scrolling feed on SolarPermit.org.</p>
	<p>To add a jurisdiction to your <span class="underline">Favorite Jurisdictions</span> tab, navigate to the jurisdiction of your choice. Click on the <span class="underline">Add to favorites</span> button, located directly below the name of the jurisdiction.</p>
	<p>To view your favorites, click on the <span class="underline">Favorite Jurisdictions</span> tab located in the global navigation bar. Your favorites will be listed in a box on the left-hand side of the page under &quot;<span class="underline">All Favorites</span>&quot;. Updates to those jurisdictions will be located in a scrolling feed on the right-hand side of the page under &quot;<span class="underline">Recent updates to my favorites</span>&quot;. To receive daily, weekly, or monthly email digests notifying you of any changes, click the <span class="underline">Notification preferences<span class="underline"> link in the <span class="underline">All Favorites</span> box.</p>
	<h2>Receive Recognition for your Contributions</h2>
	<p>You easily gain recognition for your submissions and improve your company's Google search rankings by joining your company on SolarPermit.org:</p>
	<ol>
		<li>Click on your profile name in the upper right-hand corner of the page and click <span class="underline">My Profile</span></li>
		<li>Locate the <span class="underline">Company or Organization</span> field and click <span class="underline">Add a Company or Organization</span></li>
		<li>Search for your organization
			<ol>
				<li>If it exists: select your organization and click <span class="underline">Add to my profile</span>. The admin of the organization must approve your request.</li>
				<li>If it doesn't exist: Click <span class="underline">Create New</span> in the upper right-hand corner of the screen. Add your organization's name, upload a logo, and enter in your company's URL. You are now the Admin for your organization.</li>
			</ol>
		</li>
	</ol>
</div>

{% endblock %}  			