{% extends "base.jinja" %}


{% block title %}News{% endblock %}
{% block body %}
<div class="contentOnlyPage">
{% include "website/blocks/text_doe_grant.jinja" %}
</div>

{% endblock %}  			