{% extends "base.jinja" %}


{% block title %}NSPD Information Accuracy Disclaimer{% endblock %}
{% block body %}
<div class="contentOnlyPage">

{% include "website/blocks/text_disclaimer.jinja" %}
</div>

{% endblock %}  			