{% extends "base.jinja" %}


{% block title %}Terms of Use{% endblock %}
{% block body %}
<div class="contentOnlyPage">
{% include "website/blocks/text_terms_of_use.jinja" %}
</div>

{% endblock %}  			