<p>Dear {{username}},</p>

<p>{{deletor}} has deleted {{organization_name}} from SolarPermit.org.</p>

<p>You are no longer a member of {{organization_name}} in SolarPermit.org system and your future data contributions will not be attributed to {{organization_name}}.</p>

<p>If you feel {{organization_name}} may have been deleted in error, please sign in to SolarPermit.org and submit your feedback.</p>

<p>--The team at SolarPermit.org</p>

<p><a style="background:#86bc0a;border:1px solid #618806;height:20px;padding:5px 20px 5px 20px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#ffffff;font-weight:bold;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin: 2px 4px;" href="{{site_url}}/sign_in/?next=/profile">Sign in to SolarPermit.org...</a></p>