<div class="api_key_management">
  <h2>API Key Management</h2>
  {% for apikey in object_list %}
  <div class="key_wrap">{{ apikey.key }}</div>
    <form id="replace-form" class="api_form replace_form" action="{% url 'api-keys-replace' pk=apikey.pk %}" method="post">{% csrf_token %}
      <input type="submit" class="api_button smallbutton" value="Replace Key" />
    </form>
    <form id="delete-form-{{ apikey.pk }}" class="api_form delete_form" action="{% url 'api-keys-delete' pk=apikey.pk %}" method="post">{% csrf_token %}
      <input type="submit" class="api_button smallbutton" value="Delete Key" />
    </form>
  {% empty %}
  <p>No API keys yet.</p>
  <form id="create-form" class="api_form create_form" action="{% url 'api-keys-create' %}" method="post">{% csrf_token %}
    <input type="submit" class="api_button smallbutton" value="Generate Key" />
  </form>
  {% endfor %}
  {% if object_list %}<p>Note: Replacing your API key will remove the old key.</p>{% endif %}
</div>
