		<script type='text/javascript' src="/media/js/fancybox/jquery.mousewheel-3.0.6.pack.js" ></script>
		<script type='text/javascript' src="/media/js/fancybox/jquery.fancybox.js"></script>
		<!--script type='text/javascript' src="/media/js/fancybox/jquery.fancybox.pack.js" ></script-->
		<script type='text/javascript' src="/media/js/fancybox/helpers/jquery.fancybox-buttons.js"></script>
		<script type='text/javascript' src="/media/js/fancybox/helpers/jquery.fancybox-media.js"></script>
		<script type='text/javascript' src="/media/js/fancybox/helpers/jquery.fancybox-thumbs.js" ></script>
