	<link href="{{static('js/fancybox/jquery.fancybox.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{static('js/fancybox/helpers/jquery.fancybox-buttons.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{static('js/fancybox/helpers/jquery.fancybox-thumbs.css')}}" rel="stylesheet" type="text/css" />
