{% extends "base_modal_dialog.html" %}

{% block modal_dialog_title %}SolarPermit White Papers{% endblock %}

{% block modal_dialog_header %}{% endblock %}

{% block modal_dialog_message %}{% endblock %}

{% block body_modal_dialog %}
<div id="tabs">
	<ul>
	<li><a href="#tabs-1" >Latest White Paper</a></li>
	<li><a href="#tabs-2" >All</a></li>
	</ul>
	<div id="tabs-1">
		<object type="application/pdf" data="/media/upfiles/CPF-DOE Permitting Study_Dec2012_Final.pdf"  width="100%" height="400"> <a href="/media/upfiles/CPF-DOE Permitting Study_Dec2012_Final.pdf" alt="Click to download the latest white paper"> Download the latest white paper</a></object >
	</div>
	<div id="tabs-2">
		<ul class="paperlist">
			<li>
				<div>
				<a class="title" href="/media/upfiles/CPF-DOE Permitting Study_Dec2012_Final.pdf" target="_blank">CPF-DOE Permitting Study</a>
				</div>
				<div>
				<span class="author">By James Tong, Senior Director Clean Power Finance - Decemeber 2012</span>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block modal_dialog_action %}
<span><a id="wp_cancel_btn" href="#" class="mainbutton">Close</a></span>
{% endblock %}
