{% extends "base_modal_dialog.html" %}

{% block modal_dialog_title %}
{% if ajax == 'choose_org_details' %}
	Choose a Company or Organization
{% else %}
	Overview > Details of {{orgname}}
{% endif %}
{% endblock %}

{% block modal_dialog_header %}
{% if ajax == 'choose_org_details' %}
	<a href="#" class="overview_link" id="choose_org"  >Overview</a> &gt; Details
{% else %}
{% if access == 'Admin' and (ajax == 'org_details' or ajax == 'open_org_details') %}
{% else %}
	{{orgname}}
{% endif %}
{% endif %}
{% endblock %}

{% block modal_dialog_message %}{% endblock %}

{% block body_modal_dialog %}
{% if access == 'Admin' and (ajax == 'org_details' or ajax == 'open_org_details') %}
<div id="tabs" class="org_details">
<ul>
<li><a id="tabs1_a" data-orgid="{{orgid}}" href="#tabs-1" >Details</a></li>
<li><a id="tabs2_a" data-orgid="{{orgid}}" href="#tabs-2" >Pending Requests</a></li>
</ul>
<div id="tabs-1">
{% endif %}
<div id="orgdetail_container" >
	<!--<h3>-->
<div id="orgaction">
	{% if access == 'Admin' and (ajax == 'org_details' or ajax == 'open_org_details') %}
		{{organization.name}}
	{% endif %}
	{% if access == 'Admin'%}
		<a id="remove_admin_org_admin_btn" href="#" class="smallbutton">Remove from My Profile</a>
		<a id="delete_org_btn" href="#" class="smallbutton">Delete</a>
	{% elif access == 'Member' %}
		<a id="remove_org_member_btn" href="#" class="smallbutton">Remove from My Profile</a>
	{% elif access == 'PendingMember' %}
		<a id="cancel_request_btn" href="#" class="smallbutton">Cancel Request to Join</a>
	{% elif orgmember != None %}
		{% if orgmember.status == 'AI' %}
			{% if orgmember.role.name == 'Administrator'%}
				<div>You were invited to join this company or organization as an administrator by <a href='#'>{{orgmember.invitor.username}}</a>.</div>
				<div style="padding:20px 0 0 0;" >
					<span><a id="org_details_accept_btn" href="#" class="smallbutton">Accept</a></span>
					<span><a id="org_details_decline_btn" href="#" class="smallbutton">Decline</a></span>
				</div>
			{% else %}
				<div>You were invited to join this company or organization by <a href='#'>{{orgmember.invitor.username}}</a>.</div>
				<div style="padding:20px 0 0 0;" >				
					<span><a id="org_details_accept_btn" href="#" class="samllbutton">Accept</a></span>
					<span><a id="org_details_decline_btn" href="#" class="smallbutton">Decline</a></span>
				</div>
			{% endif %}
		{% elif orgmember.status == 'MI' %}
				<div>You were invited to join this company or organization by <a href='#'>{{orgmember.invitor.username}}</a>. If you accept, you will receive an email once the company or administrator has processed the invitation</div>
				<div style="padding:20px 0 0 0;" >							
					<span><a id="org_details_accept_btn" href="#" class="smallbutton">Accept</a></span>
					<span><a id="org_details_decline_btn" href="#" class="smallbutton">Decline</a></span>
				</div>
		{% endif %}
	{% else %}
		{% if user_members|length == 0 %}
			<span><a id="org_details_add_my_btn" href="#" class="smallbutton">Add to My Profile</a></span>
		{% endif %}
	{% endif %}
		
	<!--</h3>-->
</div>	
{% if organization.logo != ''%}
<div style="padding:10px 0 0 0;"><img src="{{organization.get_logo_thumbnail('96x96')}}" alt="{{orgname}}" ></div>
{% endif %}
	
<div id="form_org_details_orgname_div" style="padding:10px 0 0 0;">
<form id="form_org_details_orgname" name="form_org_details_orgname" action="/organization/" method="post" accept-charset="utf-8">
  <input type="hidden" name="ajax" value="org_details_submit" >
  <input type="hidden" name="orgid" value="{{orgid}}" > 
  <input type="hidden" name="mode" value="{{mode}}" >     
  <input type="hidden" name="div" id="name" value="form_org_details_orgname_div" >

	<div class="form_field show_data" onmouseover="controller.initOrgEditFieldEvent(this);">
	{% if access == 'Admin'%}
		<div class="label">Organization name:</div>
		<div id="form_field_data_orgname" class="data" > 
			{% if orgname == '' %}
				No info available
			{% else %}
				{{orgname}}
			{% endif %}
			<span style="float:right;visibility:hidden;" id="edit_option_orgname" >
				<img width="12"src="/media/images/edit.png" alt="edit" >&nbsp;Click to edit
			</span>
		</div>
	{% endif %}  
		<div id="form_field_edit_orgname" class="form" style="display:none">
			<div class="field">
				<input type="text" name="orgname" id="form_org_details_orgname_field_orgname" value="{{orgname}}" class="required" style="width:210px" maxLength="64" >
			</div>		
			<div class="field_help_text"></div>
			<div class="error_div">{{error_orgname}}</div>    
			{% if mode == 'individual' %}
			<div>				
				<input type="submit" name="save_orgname" value="Save" id="save_orgname" class="smallbutton"  title="" value="Save">
				<input type="button" name="Cancel" value="Cancel" id="cancel_orgname" class="smallbutton cancel"  title="" value="Cancel">
			</div>
			{% endif %}  
		</div>			   
	</div>
</form>	
</div>
<div id="form_org_details_logo_div">		
<form id="form_org_details_logo" name="form_org_details_logo" action="/organization/" method="post" accept-charset="utf-8">
  <input type="hidden" name="ajax" value="org_details_submit" >
  <input type="hidden" name="orgid" value="{{orgid}}" > 
  <input type="hidden" name="mode" value="{{mode}}" >     
  <input type="hidden" name="div" id="name" value="form_org_details_logo_div" >
    <div class="form_field show_data"  {% if access == 'Admin'%}onmouseover="controller.initOrgEditFieldEvent(this);"{% endif %}>
        <div class="label">Logo:</div>
        <div id="form_field_data_logo" class="show_data data" > 
            {% if organization.get_logo_thumbnail('32x32') == '' or organization.get_logo_thumbnail('32x32') == None %}
                No logo available
            {% else %}
                <a href="{{organization.get_clickable_website()}}" target="_blank" ><img src="{{organization.get_logo_thumbnail('32x32')}}" alt="{{orgname}}" ></a>
            {% endif %}
            <span style="float:right;visibility:hidden;" id="edit_option_logo" >
                <img width="12"src="/media/images/edit.png" alt="edit" >&nbsp;Click to edit
            </span>
        </div>
      
        <div id="form_field_edit_logo" class="form" style="display:none">
            <div class="field">               
	            <div id="file-uploader"></div>
	            	<input type="hidden" class="answer" id="id_logo" name="logo" value="">
	                <input id="filename" name="filename" type="hidden" value=""/>
	                <input id="file_store_name" name="file_store_name" type="hidden" value=""/>
            </div>
            {% if mode == 'individual' %}
            <div>
                <a name="save_logo" value="Save" id="save_logo" class="smallbutton" title="" >Save</a>
                <a name="Cancel" value="Cancel" id="cancel_logo" class="smallbutton cancel" title="" >Cancel</a>
            </div>
            {% endif %}  
        </div>               
    </div>
</form>        		
</div>	
<div id="form_org_details_website_div">		
<form id="form_org_details_website" name="form_org_details_website" action="/organization/" method="post" accept-charset="utf-8">
  <input type="hidden" name="ajax" value="org_details_submit" >
  <input type="hidden" name="orgid" value="{{orgid}}" > 
  <input type="hidden" name="mode" value="{{mode}}" >     
  <input type="hidden" name="div" id="name" value="form_org_details_website_div" >
    <div class="form_field show_data"  {% if access == 'Admin'%}onmouseover="controller.initOrgEditFieldEvent(this);"{% endif %} >
        <div class="label">Website:</div>
        <div id="form_field_data_website" class="show_data data"> 
            {% if website == '' or website == None %}
                No info available
            {% else %}
                <a href="{{organization.get_clickable_website()}}" target="_blank" >{{organization.get_display_website()}}</a>
            {% endif %}
            <span style="float:right;visibility:hidden;" id="edit_option_website" >
                <img width="12"src="/media/images/edit.png" alt="{{orgname}}" >&nbsp;Click to edit
            </span>
        </div>
      
        <div id="form_field_edit_website" style="display:none" class="form">
            <div class="field">
                <input type="text" name="website" id="form_org_details_website_field_website" value="{% if website != None %}{{website}}{% endif %}" class="required domainOrUrl" style="width:210px" maxLength="200" >
            </div>        
            <div class="field_help_text">
                Enter the domain name or URL of the website
            </div>
			<div class="error_div">{{error_website}}</div>              
            {% if mode == 'individual' %}
            <div>
                <input type="submit" name="save_website" value="Save" id="save_website" class="smallbutton"  title="" value="Save">
                <input type="button" name="Cancel" value="Cancel" id="cancel_website" class="smallbutton cancel"  title="" value="Cancel">
            </div>
            {% endif %}  
        </div>               
    </div>
</form>        		
</div>
<div id="form_org_details_admins_div">
	<div class="form_field" >
		<div class="label">Administrators:</div>
			{% for admin in org_admins %}
				<a id="id_admin_{{admin.id}}" href='#' class="member_name" data-user= "{{admin.user.id}}" data-member="{{admin.id}}" >{{admin.user.get_profile().get_display_name()}}</a>
				{% if loop.index < (org_admins | length) %}
				,&nbsp;
				{% endif %}
			{% endfor%}		   
	</div>
</div>	
    
   	<h3 class="mlabel">Members: {% if access == 'Admin'  or access == 'Member' %}<span><a id="invite_btn" data-orgid="{{organization.id}}" href="#" class="smallbutton" id="select_users" data-orgid='{{organization.id}}' >Invite new members...</a></span>{% endif %}</h3>
<form id="form_org_details_members" name="form_org_details_members" action="/organization/" method="post" accept-charset="utf-8">
	<input type="hidden" name="ajax" value="org_details_members_change" >
	<input type="hidden" id="userid" name="userid" value="{{user.id}}" > 
	<input type="hidden" name="orgid" value="{{orgid}}" > 
	<input type="hidden" name="changed_members" id="changed_members" value="" >
	<input type="hidden" name="removed_members" id="removed_members" value="" >
	<div class="listing_header">
		<table><tr>
			<td style="width: 170px;">Name / Username</td>
			<td style="width: 120px;">Rights</td>
			<td style="width: 120px;">Join date</td>
			<td>&nbsp;</td>
		</tr></table>
	</div>
   	<div class="listing_list">
   		{% if access == 'Admin' and (ajax == 'org_details' or ajax == 'open_org_details') %}
   		<div id="org_members_list" class="endlesslist" style="height: 120px;overflow: scroll;">
   		{% else %}
		<div id="org_members_list" class="endlesslist" style="height: 200px;overflow: scroll;">
		{% endif %}
			{% include "website/organizations/org_member_list.html" %}
		</div>
	</div>
</form>
</div>
{% if access == 'Admin' and (ajax == 'org_details' or ajax == 'open_org_details') %}
</div>
<div id="tabs-2">
	
</div>
</div>
{% endif %}
{% endblock %}

{% block modal_dialog_action %}
	{% if access == 'Admin' %}
		<input type="button" id="save_members_btn" class="smallbutton unbind" style="display:none;" title="Save" value="Save">
	{% endif %}
	{% if ajax == 'choose_org_details' %}
		<input type="button" id="org_details_cancel_btn" class="smallbutton" title="Cancel" value="Cancel">
	{% else %}
		<input type="button" id="org_details_close_btn" class="smallbutton"  title="Close" value="Close">
	{% endif %}
{% endblock %}
