{% extends "base_modal_dialog.html" %}

{% block modal_dialog_title %}Choose a Company or Organization{% endblock %}

{% block modal_dialog_header %}Overview{% endblock %}

{% block modal_dialog_message %}{% endblock %}

{% block body_modal_dialog %}
	<p>Choose your company or organization to display on your profile, or view more details about each item in the list.  If you don't see your company or organization here, you can create a new entry in the list.</p>
	<h3>Companies and Organizations</h3>
	<form id="organization_select_search_form"  >
		<div class="listing">
			<div class="listing_filter">		
				<input id="search_org" class="searchfield_table_filter" type="text" name="text" placeholder="Search">
				<div id="cleara-dev" style="position: absolute;left: 210px;display:none;"><a href="#" id="cleara">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>				
				<div style="float: right;">
					<input type="hidden" id="select_orgid" value="">
					<input type="hidden" id="select_orgname" value="">
					<input type="hidden" id="sort_dir" value="desc">
					<input type="hidden" id="sort_by_date_added_dir" value="">					
					<span><input type="button" id="org_add_my_btn" href="#" class="smallbutton disabled" disabled="disabled" value="Add to My Profile"></span>
					<span><input type="button" id="org_details_btn" href="#" class="smallbutton disabled" disabled="disabled" value="View Details"></span>
					<span><input type="button" id="org_new_btn" href="#" class="smallbutton {% if can_create_org == 'false' %}disabled{% endif %}" {% if can_create_org == 'false' %}disabled="disabled"{% endif %} value="Create New"></span>
				</div>
			</div>
			<div class="listing_header">
				<table><tr>
					<td style="width: 30px;">&nbsp;</td>
					<td style="width: 200px;"><p id="search_org_sort_dir" class="sort-up"><a id='search_org_sort' href='#' class="header_link">Name</a></td>
					<td><p id='search_org_sort_by_date_added_dir' ><a id='search_org_sort_by_date_added' href="#"  class="header_link">Date added</a></td>
				</tr></table>
			</div>
			<div id="org_list" class="listing_list" style="height: 200px;overflow: scroll;">
				{% include "website/organizations/organization_list.html" %}
			</div>
		</div>
	</form>
{% endblock %}

{% block modal_dialog_action %}
<span><input type="button" id="org_cancel_btn" class="mainbutton" value="Cancel"></span>
{% endblock %}
