{% extends "base.html" %}

{% block forestyle %}
<style>
  video {
    float: right;
    padding-left: 25px;
    padding-bottom: 25px;
  }
  
  p {
    text-indent: 1em;
  }

  .contentOnlyPage {
    width: auto ! important;
  }
</style>
{% endblock %}
{% block title %}About{% endblock %}
{% block body %}
<div class="contentOnlyPage">
  {% if INTRO_VIDEO %}
    <video id="introVideo" width="640" height="480" controls="true"
           preload="auto">
      {% for (type,url) in INTRO_VIDEO_TYPES %}
        <source type="{{type}}" src="{{url}}"></source>
      {% endfor %}
    </video>
  {% endif %}
	<h1>About SolarPermit.org</h1>
	<p>SolarPermit.org hosts the National Solar Permitting Database, a free, online database of information related to solar permitting requirements of cities and counties across the country. Developed by Clean Power Finance and supported by a Department of Energy grant, SolarPermit.org organizes and simplifies solar permitting processes by compiling the information in a single location. Using the community-based platform, users of the database keep the information up-to-date and relevant. The project's goal is to minimize the time and resources required to and support the mass-market adoption of solar.</p>
	<h2>How it Works</h2>
	<p>SolarPermit.org is an interactive, crowd-sourced website - similar to Wikipedia - for solar permitting requirements. The database is populated primarily by solar installers based on their experiences in the Authority Having Jurisdictions (AHJs) where they do business. Users vote to give a &quot;thumbs up&quot; or &quot;thumbs down&quot; to verify new information added to the site and ensure accuracy.</p>
	<h2>Comprehensive Permitting Information</h2> 
	<p>The database contains jurisdiction pages for over 18,000 United States cities and counties. Each page includes over 100 data fields to give users an easy way to track a wide range of information about permitting requirements and processes.  Here is some of the information you can expect to find:</p>
	<ul>
		<li>Contact information</li>
		<li>Turnaround times</li>
		<li>Fees</li>
		<li>Specifications for system designs</li>
		<li>Inspection processes</li>
		<li>Common errors</li>
	</ul>
	<h2>Contact Us</h2>
	<p>Please contact <a href="mailto:feedback@solarpermit.org">feedback@solarpermit.org</a> if you have any questions or you would like to share your feedback on the database.</p>
</div>

{% endblock %}  			
