{% extends "base.html" %}


{% block title %}News{% endblock %}
{% block body %}
<div class="contentOnlyPage">
	<h1>News</h1>

	<h2>Solar Permitting Study</h2>
	<p>We completed a study of 273 solar installers in the top 12 states for solar that encompasses more than 90% of the residential solar market.  The study assesses the current challenges with solar permitting and identifies specific opportunities for improvement.  See the facts and insights that could help you grow your business.</p>
	<p><a target="_blank" href="/media/upfiles/SolarPermit_Infographic_v04.pdf">Download</a> the infographic for a quick summary of the key statistics. SolarPermit_Infographic_v04.pdf file</p>
	<p><a target="_blank" href="/media/upfiles/Permitting_Study_Executive_Summary_060513.pdf">Download</a> the Permitting Study Executive Summary for an overview of the study's key findings.</p>
	<p><a target="_blank" href="/media/upfiles/CPF-DOE_Permitting_Study_Dec2012_Final.pdf">Download</a> the full Permitting Study for complete findings and analysis.</p>
	
	<h2>Press Releases</h2>
	<p>12/19/2012 - <a target="_blank" href="http://www.cleanpowerfinance.com/2012/12/more-than-a-third-of-u-s-solar-installers-say-permitting-requirements-limit-growth/">More Than a Third of U.S. Solar Installers Say Permitting Requirements Limit Growth</a></p>
	<p>9/6/2012 - <a target="_blank" href="http://www.cleanpowerfinance.com/2012/09/clean-power-finance-announces-national-solar-permitting-database-to-reduce-soft-costs-of-solar/">Clean Power Finance Announces National Solar Permitting Database</a></p>

	<h2>News Coverage</h2>
	<p>6/19/2013 - <a target="_blank" href="http://www.solarreviews.com/news/permitting-solar-project-check-SolarPermit-6-19-13">Curious About Permitting a Solar Project? Check out SolarPermit.org</a> - Solar Reviews Blog</p>
	<p>6/11/2013 - <a target="_blank" href="http://www.pv-tech.org/editors_blog/solar_permitting_project_sees_red_and_awards_gold_stars">Solar permitting project sees red and awards gold stars</a> - PV-Tech</p>
	<p>3/20/2013 - <a target="_blank" href="http://www.solarbuildermag.com/featured/clean-power-finance-solar-permitting-database/#.UVygkJPrzT5">Headache Remedy</a> - Solar Builder Magazine</p>
	<p>3/8/2013 - <a target="_blank" href="http://cleantechnica.com/2013/03/08/solar-freedom-now-unveils-plan-for-cutting-red-tape-solar-pv-soft-costs-50">&quot;Solar Freedom Now&quot; Unveils Plan For Cutting Red Tape, Solar PV Soft Costs 50%</a> - CleanTechnica</p>
	<p>2/11/2013 - <a target="_blank" href="http://blog.rmi.org/blog_2013_02_11_Whos_the_BoS">Who's the BoS?</a> - Rocky Mountain Institute</p>
	<p>2/6/2013 - <a target="_blank" href="http://www.renewableenergyworld.com/rea/video/solar-2013-outlook-project-financing-and-reducing-costs">Solar 2013 Outlook: Project Financing and Reducing Costs</a> - Renewable Energy World</p>
	<p>12/24/2012 - <a target="_blank" href="http://www.cleanenergyauthority.com/solar-energy-news/permitting-issues-holding-solar-122412?mkt_tok=3RkMMJWWfF9wsRonuarKZKXonjHpfsX66O0lX7Hr08Yy0EZ5VunJEUWy2YADTdQhcOuuEwcWGog8wwBdG%2B6Fc5dF6PNUBUC8Wz4%3D">New Study Shows Permitting Issues Holding Solar Back in U.S.</a> - Clean Energy Authority</p>
	<p>12/23/2012 - <a target="_blank" href="http://cleantechnica.com/2012/12/23/permitting-a-nightmare-for-the-us-solar-industry/">Permitting - A Nightmare for the U.S. Solar Industry</a> - Cleantechnica.com</p>
	<p>12/20/2012 - <a target="_blank" href="http://www.sustainablebusiness.com/index.cfm/go/news.display/id/24388?mkt_tok=3RkMMJWWfF9wsRonuarKZKXonjHpfsX66O0lX7Hr08Yy0EZ5VunJEUWy2YADTdQhcOuuEwcWGog8wwBdG%2B6Fc5dF6PNUBUC8Wz4%3D">U.S. Solar Permitting Process Rife with Inefficiencies, Limits Growth</a> - Sustainable Business</p>
	<p>12/19/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/Red-Tape-Puts-Solar-Installers-in-the-Red-Homeowners-in-the-Dark">Red Tape Puts Solar Installers in the Red, Homeowners in the Dark</a> - Greentech Media</p>
	<p>12/19/2012 - <a target="_blank" href="http://gigaom.com/2012/12/19/the-hidden-pain-points-holding-back-solar/">The Hidden Pain Points Holding Back Solar</a> - GigaOM</p>
	<p>11/12/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/Tackling-Solar-Soft-Costs-from-Every-Angle">Tackling Solar Soft Costs from Every Angle</a> - Greentech Media</p>
	<p>10/4/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/Solar-Installers-Tangled-Up-in-Red">Solar Installers: Tangled Up in Red</a> - Greentech Media</p>
	<p>9/14/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/spi-2012-wrap-the-fight-goes-on-for-solar-and-the-innovation-never-ends/">SPI 2012 Wrap: The Fight Goes On for Solar and the Innovation Never Ends</a> - Greentech</p>
	<p>9/11/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/spi-2012-solar-industry-moving-forward-together/">SPI 2012: Solar Industry Moving 'Forward, Together'</a> - Greentech Media</p>
	<p>9/11/2012 - <a target="_blank" href="http://www.ases.org/spi-report-national-permitting-database-and-other-news/">SPI Report: National Permitting Database and Other News</a> - American Solar Energy Society</p>
	<p>9/11/2012 - <a target="_blank" href="http://www.bloomberg.com/apps/news?pid=newsarchive&amp;refer=&amp;sid=aU82PrnnjPFE">Database of U.S. Solar Building Regulations Cuts Costs, CEO Says</a> - Bloomberg</p>
	<p>9/10/2012 - <a target="_blank" href="http://cleantechnica.com/2012/09/10/clean-power-finance-to-unveil-national-solar-permitting-database/">Clean Power Finance to Unveil National Solar Permitting Database</a> - CleanTechnica</p>
	<p>9/6/2012 - <a target="_blank" href="http://www.greentechmedia.com/articles/read/can-solar-industry-stakeholders-cooperate-to-bring-down-soft-costs/">Can Solar Industry Stakeholders Cooperate to Bring Down Soft Costs?</a> - Greentech Media</p>
{# #}
	<h2>Events</h2>
	<p><a target="_blank" href="http://www.solarpowerinternational.com/">Solar Power International 2013</a> Oct. 21-24, Chicago, IL</p>
{#	
	<p>SEIA Webinar, June TBD</p>
	<p><a target="_blank" href="http://www.ases.org/solar2013/">Solar 2013 (ASES)</a> Apr. 16-20, Baltimore, MD
	<br />Speaker: James Tong</p>
	<p><a target="_blank" href="http://www.pvamericaexpo.com/east/">PV America East</a> Feb. 5-7 2013, Philadelphia, PA
	<br />Speaker: James Tong</p>
#}
</div>
<div class="bottomclearboth"></div>
{% endblock %}