{% extends "base.html" %}


{% block title %}About{% endblock %}
{% block body %}
<div class="contentOnlyPage">
	<h1>Upload Bulk Data to SolarPermit.org</h1>
	<p style="width: 400px; margin: 10px 0 20px 0;">We want SolarPermit.org to be the most comprehensive solar permitting resource available, and we need your help! Upload any files that you have with permitting requirements and our team will add them to the database and recognize you for those contributions! You’ll receive the SEO benefits of adding your data to the database, and we’ll help you upload the data. Reach out to us at <a mail="​info@solarpermit.org">​info@solarpermit.org</a> if you have any questions about this special offer.</p>
	<script src="https://cleanpower.app.box.com/embed/upload.js?token=9bty7h8r7xjppqrwu7meo6wfcaif9h31&folder_id=1065397021&w=385&h=385&i=&d=1&t=Submit%20file%20to%20SolarPermit&r=1" type="text/javascript"></script>
</div>
{% endblock %}  			