{% extends "base.html" %}
    
<!-- template .html -->
{% block title %}Change Password{% endblock %}
{% block breadcrum %}{% endblock %}
{% block page_title %}{% endblock %}

{% block top_main_content %}
{% endblock %}

{% block body %}


<div id="change_password_container" style="width:300px" class="blockcontainer">
  <span class="title">Change Password</span><br><br>
  <div id="change_password_content">
<form id="{{form_change_password_id}}" name="form_change_password" action="/account/" method="post" accept-charset="utf-8">
  <input type="hidden" name="ajax" value="change_password_submit" >
  <!--<div class="form_help_text">All fields are required.</div>-->

    <div class="form_field" style="border:1x solid black;">
        <div class="label">Password:</div>
        <div class="field"><input type="password" name="password" id="{{form_change_password_id}}_field_password" value="" class="required" style="width:210px" maxlength="75" minlength="8"> </div>
        <div class="field_help_text">Minimum of 8 characters</div>
        <div class="error_div">{{form_change_password_field_password}}&nbsp;</div>
    </div>
    
    <div class="form_field" style="border:1x solid black;">
        <div class="label">Verify password:</div>
        <div class="field"><input type="password" name="verify_password" id="{{form_change_password_id}}_field_verify_password" value="" class="required" equalTo="#{{form_change_password_id}}_field_password" minlength="8" style="width:210px" >  </div>
        <div class="error_div">{{form_change_password_field_verify_password}}&nbsp;</div>
    </div>
    <div class="form_field" style="border:1x solid black;">
        <span class="form_field_error_message" >{{form_change_password_fail_reason}}</span>
    </div>    
            
      <div style="padding-top:10px;">
      <input id="change_password_button" type="submit" name="Change password"  class="mainbutton" value="Change password"  title="Change password" >
    </div>
  
</form>
    </div>
</div>

{% endblock %}

{% block endjs %}
	<script type='text/javascript'>
	$(document).ready(function() {
	    $('#change_password_button').click(function (){
	    	controller.submitForm('#form_change_password');return false;
	    });
	});
	</script>
{% endblock %}