<div id="other_user_profile_container" style="" class="blockcontainer">
    <span class="title">User Profile</span><br><br>
    <div id="other_user_profile_content">

    <div>
        <div class="form_field">
            <div class="label">Username:</div>
            <div class="field">{{user.username}}</div>
        </div>
        
        <div class="form_field">
            <div class="label">Email address:</div>
            <div class="field">{{user.email}}</div>
        </div>    
        <div id="my_org_list">    
            {# include '/website/form_fields/org.html' #}      
        </div>
    
        <div class="form_field">
            <span><a name="close" value="Close" class="mainbutton" onClick="close_simple_popup('simple_popup_div');" title="Close">Close</a></span>
        </div>
    </div>
</div>
