{% extends "base_modal_dialog.html" %}

{% block modal_dialog_title %}Reset Password{% endblock %}

{% block modal_dialog_message %}{{form_reset_password_fail_reason}}{% endblock %}
{% block modal_dialog_form_top %} 
  <form id="form_reset_password" name="form_reset_password" action="." method="post" accept-charset="utf-8">
{% endblock %}

{% block body_modal_dialog %}
  <form id="form_reset_password" name="form_reset_password" action="." method="post" accept-charset="utf-8">
  <input type="hidden" name="reset_password_key" id="reset_password_key" value='{{reset_password_key}}' >
  <input type="hidden" name="ajax" value="reset_password_submit" >
  
    <div class="form_field">
        <div class="label">New password:</div>
        <div class="field"><input type="password" name="password" id="form_reset_password_field_password" value="" class="required" style="width:210px" maxlength="75" minlength="8" ></div>
        <div class="field_help_text">Minimum of 8 characters</div>
        <div class="error_div">{{form_reset_password_password}}&nbsp;</div>        
        {#<div id="msg_form_reset_password_field_password" class="form_field_error_message">{{form_reset_password_password}}</div>        #}
    </div>
    
    <div class="form_field">
        <div class="label">Verify new password:</div>
        <div class="field"><input type="password" name="verify_password" id="form_reset_password_field_verify_password" value="" class="" equalTo="#form_reset_password_field_password" minlength="8" style="width:210px" ></div>
        <div class="error_div">{{form_reset_password_verify_password}}&nbsp;</div>        
        {#<div id="msg_form_reset_password_field_verify_password" class="form_field_error_message">{{form_reset_password_verify_password}}</div> #}
    </div>
      
{% endblock %}


{% block modal_dialog_action %}
{#
    <span><a disabled name="reset_password" value="Ok" id="form_reset_password_submit_button" class="mainbutton disabled" >Ok</a></span>
    <span><a name="cancel" value="Cancel" id="reset_password_cancel" class="mainbutton">Cancel</a></span>
#}
    <input disabled="disabled" type="submit" name="reset_password" id="form_reset_password_submit_button" class="mainbutton disabled" value="OK" title="" >
    <input type="button" name="cancel" value="Cancel" id="reset_password_cancel" class="mainbutton"  title="Cancel" value="Cancel">    
{% endblock %}

{% block modal_dialog_form_bottom %}</form>{% endblock %}