{% extends "/website/jurisdictions/AHJ_data.html" %}
{% block category_content %}  

    {% if category == 'all_info'  %}
        {% if empty_data_fields_hidden | int == 1 %}
            {% if jurisdiction_answers | length == 0 %}

            <div class='ahj_page_message' >No one has entered in data for this Jurisdiction yet. Uncheck the checkbox above to see all data fields.</div>
            {% endif %}
        {% endif %}
    {% endif %}



    {% for this_category in categories %}
        {% set this_category_questions = categories_questions.get(this_category.id) %}
        {% set this_category_current_questions = categories_current_questions.get(this_category.id) %}     
          
        <div class="cssTable tableMargin " style="width:580px">
            <div class="cssRow">   
                <div class="cssCell ahj_category_header">{{this_category.description | capitalize }}</div>        
            </div>
            {% if view == False %}
                {% if empty_data_fields_hidden | int == 1 %}
                    {% if this_category.id not in categories_with_answers  %}
                        {% set category_txt = category %}
            <div class="cssRow">                         
                <div class='cssCell ahj_page_message' >No one has entered in data for this {{this_category.description}} category yet. Uncheck the checkbox above to see all data fields.</div>   
            </div>               
                    {% endif %}
                {% endif %}
            {% else %}
                <!-- view -->
                {% if this_category_questions | length == 0 %}
            <div class="cssRow" >              
                {% if category == 'favorite_fields' %}
                <div class='cssCell ahj_page_message' >This tab displays your favorite data fields. This allows you to easily track the permitting requirements that you care about. Adding a field to the favorites tab is easy.
                <img  style="border:1px blue solid;margin:20px;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
                </div>
                {% elif category == 'quirks' %}
                <div class='cssCell ahj_page_message' >This tab displays quirky permitting requirements. No one has marked one of the requirements as a quirk, but it is easy to do.
                <img  style="border:1px blue solid;margin:20px;float:left;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
                </div>
                {% elif category == 'attachments' %}
                <div class='cssCell ahj_page_message' >This tab displays answers with attachments.  No attachments has been uploaded yet.</div>        
                {% else %}

                <div class='cssCell ahj_page_message' >No one has entered in data for this category yet. Uncheck the checkbox above to see all data fields.</div>
                {% endif %}            
            </div>       
                {% endif %}     
           {% endif %} 
            
            
            
            <div class="cssRow">
                <div class="cssCell ahj_general" style="width:580px">

            {% for this_question in this_category_questions %}   
                {% set this_question_answers = questions_answers.get(this_question.id) %}                         
                {% if view == True or (view == False and empty_data_fields_hidden | int == 0) or (view == False and empty_data_fields_hidden == 1  and this_question_answers | length > 0) %}
                <div class="cssTable" id="div_question_content_{{this_question.id}}" > 

                    {% set login_user_suggested_a_value = questions_login_user_suggested_a_value.get(this_question.id) %}   
                    {% set pending_editable_answer_ids_array = questions_pending_editable_answer_ids_array.get(this_question.id) %}                   
                    {% if login_user_suggested_a_value == True %}
                        {% set icon = 'Y' %}
                        {% set label_tooltip = 'Sorry, you have already provided an answer.' %}
                    {% else %}
                        {% set icon = 'N' %}
                        {% set label_tooltip = '' %}
                    {% endif %}
                    {% set terminology = this_question.get_terminology() %}                       
                    <div class="cssRow" >
                        <div class="cssCell qasv_content need_tooltip" id="child_of_div_{{this_question.id}}" data-id="{{this_question.id}}" data-paids="{{pending_editable_answer_ids}}" data-jurid="{{jurisdiction.id}}">            
                            <div class="label"  title="{{terminology}}" data-icon="{{icon}}" data-icon="{{label_tooltip}}" {% if login_user_suggested_a_value == False or login_user_suggested_a_value == None %}onClick="controller.suggestionField.clickAddLabel({{jurisdiction.id}}, {{this_question.id}});" {% endif %}>
                                <span style="float:left;visibility:visible;display:none;padding-right:5px" id="edit_question_{{this_question.id}}"   ><img width="10" src="/media/images/edit.png" alt="edit" ></span>
                                <span style="float:left;" >{{this_question.get_field_label(jurisdiction) | capitalize }}</span>
                            </div>                  
                        </div> 
                        <div id="q_actions_{{this_question.id}}">
                        {# set ahj_actions_template = 'website/jurisdictions/ahj_actions.html' #}
                        {% include 'website/jurisdictions/ahj_actions.html' %}
                        </div>
                    </div>
                    <div  class="cssRow "  id="qa_{{this_question.id}}_data" >       
                        <div class="cssCell>">
                            <div class="cssTable data_block">     
                    {% if this_question.description != None and this_question.description != '' %}
                                <div class="cssRow ">    
                                    <div class="cssCell description" >
                                        {{this_question.description}}
                                    </div>        
                                </div>              
                    {% endif %} 
            
                             
                
                {% if login_user_suggested_a_value == False or login_user_suggested_a_value == None %}
                                <div class="cssRow">    
                                    <div id="qa_{{this_question.id}}_add" class="cssCell suggestion_edit_box" style="display:none">                     
                                    <form id="form_{{this_question.id}}" name="name_{{this_question.id}}" action="."  method="post" accept-charset="utf-8">
                                        <input type="hidden" name="ajax" value="suggestion_submit" />
                                             <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                                             <input type="hidden" name="question_id" value="{{this_question.id}}" />   
                      
                              
                                    <div id="qa_{{this_question.id}}_fields">    
                                    
                                    </div>
                                    <div>
                                        <input type="submit" name="save_{{this_question.id}}" value="Save" id="save_{{this_question.id}}"  class="smallbutton" title="" >
                                        <input type="button" name="Cancel" value="Cancel" id="cancel_{{this_question.id}}" class="smallbutton" onClick="controller.closeSuggestion('{{this_question.id}}');"  title="" >
                                    </div>
                                    </form>                            
                                
                                    </div>
                                </div>    
                {% endif %}
                
                {% if this_question_answers | length > 0 %}
                                <div class="cssRow question_messages" style="display:none;" id="question_messages_{{this_question.id}}">    

                                </div> 

                    
  
            
                    
                    {% for this_answer in this_question_answers %}
                        {% set answer_content = answers_contents.get(this_answer.id) %}  
   
                                <div class="cssRow" >    
                                    <div class="cssCell" >
                                        <div class="cssTable" style="margin-bottom:10px">
                                            <div class="cssRow">
                                                <div class="cssCell suggestion_left" >
                                                    <div class="suggestion_header" id="suggestion_header_{{this_answer.id}}" style="display:none"></div>
                                                    
                                                    
                                                    <div class="field answer_field" id="{{this_answer.id}}" {% if this_answer.id in pending_editable_answer_ids_array %}onmouseover="controller.initSuggestionFieldEvent(this);"{% endif %} >
                                                    {% if this_answer.id in pending_editable_answer_ids_array %}
                                                    <span  class="cancel_btn" id="cancel_btn_{{this_answer.id}}" title="Cancel your message" style="width:22px;float:left;" >
                                                    <input  class="cancelbt field_mo_l3 cancel_this_value" type="button"   value="" data-id="{{this_answer.id}}" >
                                                    </span>
                                                    
                                                    <span class="edit_btn" id="edit_btn_{{this_answer.id}}" title = "Edit your suggestion" style="width:35px;float:left" >
                                                    <input class="editbt canedit field_mo_l1 edit_this_value" id="edit_button_{{this_answer.id}}" type="button"  value="" data-id="{{this_answer.id}}" data-terminology="{{terminology}}" data-jurid="{{jurisdiction.id}}" data-qid="{{this_question.id}}"  > 
                                                    </span>
                                                    {% endif %}
                                                    
                                                    <span style="float:left;">                         
                                        {% if this_question.display_template == '' or this_question.display_template == None %}
                                            {% set template = 'website/jurisdictions/suggestion_display_template/single_field_display.html' %}
                                            {% include template %}
                                        {% else %}
                                            {% set template = 'website/jurisdictions/suggestion_display_template/'+this_question.display_template %}
                                            {% include template %}
                                        {% endif %}
                                        

                                                    </span>
                                                    {% if this_question.support_attachments | int == 1 %}
                                                        <div id='attachment_{{this_answer.id}}' style="display:none"></div>                     
                                                    {% endif %}              
                                                                                         
                                                    </div>
                                         
        
                                                {% if this_answer.approval_status == 'A' %}
                                                        <div class="valhis">
                                                            <div id="validation_history_div_{{this_answer.id}}" style="display:none;"></div>
                                                            <a class="comments need_history need_history_dialog" data-id="{{this_answer.id}}" id="validation_history_{{this_answer.id}}" href="javascript:void(0);" title="" >Validation history</a> - 
                                                            <a class="comments need_comment" href="#" data-id="{{this_answer.id}}" data-jid="{{jurisdiction.id}}">
                                                                 <span id="answer_comment_{{this_answer.id}}"></span>
                                                             </a>                                    
                                                        </div>  
                                                {% else %}                    
                                                
                                                        <div class="valhis">
                                                            <a href="#" class="comments need_comment" data-id="{{this_answer.id}}" data-jid="{{jurisdiction.id}}">
                                                                <span id="answer_comment_{{this_answer.id}}"></span>
                                                            </a>
                                                        </div>
                                                {% endif %}                                    
                                        
                                                </div>
                                                
                                                
                                                <div class="csscell suggestion_right" >
                                                
                                                {% include 'website/jurisdictions/ahj_answer_votes.html' %}
                                            {% if user.is_superuser == 1 and this_answer.approval_status != 'A' %}
                                                <div>
                                                    <input id="approve_this_value_{{this_answer.id}}" type="button" class="smallbutton approve_this_value" value="Approve this {{terminology}}" data-id="{{this_answer.id}}" data-terminology="{{terminology}}" >
                                                </div>
                                            {% endif %}                                        
                                                </div>
                                            </div>
                                        
        
                                            {% if this_answer.creator_id == user.id and (this_answer.approval_status == 'P') %}
                                            <div class="cssRow" >
                                                <div class="cssCell" >
                                                    <div id="qa_answer_{{this_answer.id}}_edit" class="suggestion_edit_box" style="display:none">
                                                
                                                        <form  id="form_edit_{{this_answer.id}}" name="name_edit_{{this_answer.id}}" action="."  method="post" accept-charset="utf-8" >
                                                            <input type="hidden" name="ajax" value="suggestion_edit_submit" />
                                                                 <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                                                                 <input type="hidden" name="question_id" value="{{this_question.id}}" /> 
                                                                 <input type="hidden" name="answer_id" value="{{this_answer.id}}" />                          
                                                  
                                                            <div id="qa_{{this_answer.id}}_edit_fields">    
                                
                                                            </div>
                                                            <div>
                                                                <input type="submit" name="save_edit_{{this_answer.id}}" value="Save" id="save_edit_{{this_answer.id}}"  class="smallbutton" title="" >
                                                                <input type="button" name="Cancel cancelEdit" value="Cancel" id="cancel_edit_{{this_answer.id}}" class="smallbutton" onClick="controller.closeSuggestionEditAnswer('{{this_answer.id}}');" title="" >
                                                            </div>
                                                        </form>
                                                    
                                                    </div> 
                                                </div>                                      
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>        
                                </div> 
                    {% endfor %}        
               
                    {% if this_question.has_multivalues | int == 1 %}
                        {% if this_question_answers | length > 0 %}
                            {% set add_btn_value = 'Add another ' + terminology %}
                                <div class="cssRow">    
                                    <div class="cssCell" >                    
                                        <div class="suggestion_btn_placement" id="suggest_value_btn_{{this_question.id}}">
                                            <input type="button" class="smallbutton add_another_value" id="add_another_value_{{this_question.id}}" value="{{add_btn_value}}" data-id="{{this_question.id}}" data-jid="{{jurisdiction.id}}" >
                                        </div>
                                
                                                       
                                        <div id="qa_{{this_question.id}}_add" class="suggestion_edit_box" syle="display:none">
                                    
                                            <form id="form_{{this_question.id}}" name="name_{{this_question.id}}" action="."  method="post" accept-charset="utf-8">
                                                <input type="hidden" name="ajax" value="suggestion_submit" />
                                                     <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                                                     <input type="hidden" name="question_id" value="{{this_question.id}}" />   
                                       
                                            <div id="qa_{{this_question.id}}_fields">    
                                            
                                            </div>
                                            <div>
                                                <input type="submit" name="save_{{this_question.id}}" value="Save" id="save_{{this_question.id}}"  class="smallbutton" title="" >
                                                <input type="button" name="Cancel" value="Cancel" id="cancel_{{this_question.id}}" class="smallbutton" onClick="controller.closeSuggestion('{{this_question.id}}');"  title="" >
                                            </div>
                                            </form>
                                    
                                        </div>  
                                    </div>
                                </div>   
                        {% endif %}
                    {% endif %}   
                     
                {% else %}
                    {% if view == True or (view == False and empty_data_fields_hidden | int == 0) or (view == False and empty_data_fields_hidden == 1  and this_question_answers | length > 0) %}
            
                                <div class="cssRow">    
                                    <div class="cssCell prompt" id="q_no_data_{{this_question.id}}">
                                        No info available yet... 
                                    </div>        
                                </div>   
                    {% endif %}               
                {% endif %}
                
                 
                            </div>
                        </div>
                    </div>

                {% endif %}                   
                </div>             
            {% endfor %}     
         
                </div>
            </div>
            {% if empty_data_fields_hidden | int == 0 or (empty_data_fields_hidden == 1  and this_question_answers | length > 0) %}            
            <div id="div_custom_question_content_{{this_category.id}}"></div>
                        
            <div class="custom_field_{{this_category.id}}">

            </div> 
            
            {% endif %}
            
  
        </div>
    

    
    {% endfor %}        

{#}          
    {% for item in time %}
        <div>{{item}}</div>
    {% endfor %}
#}

{% endblock %}





