{# added distinction to id, in order prevent duplicates -RG #}    
<div  class="qasv_content" id="child_of_div_{{this_question.id}}"  >
        <div class="label"  >
            {{question_label}}{% if question_label[-1] != '?' %}{% endif %}
        </div>          
            
         <div class="data" id="qa_{{this_question.id}}_data" >
            {% if this_question.description != None and this_question.description != '' %}
            <div class="description"  >
                {{this_question.description}}
            </div>     
            {% endif %}             
         
             <div class="prompt" >{{prompt}}</div>       
            
            {% if answers != None and answers | length > 0 %}
            <div class="suggestion_table"  >
                {% for answer in answers %}
                {%      set answer_obj = answer.get('answer') %}
                    <span class="suggestion_left"> 
                    
                    {%      set answer_content = answer.get('answer_content') %}
                    {% if this_question.id == 16 %}
                        {% set fee_types = answer.get('fee_types') %}
                        {% set fee_items = answer.get('fee_items') %}
                    {% endif %}                    
                    <div class="field">
                        {% if this_question.display_template == '' or this_question.display_template == None %}
                            {% set template = 'website/jurisdictions/suggestion_display_template/single_field_display.html' %}
                            {% include template %}
                        {% else %}
                            {% set template = 'website/jurisdictions/suggestion_display_template/'+this_question.display_template %}
                            {% include template %}
                        {% endif %}   
                    </div> 
                      
                    <div class="valhis" >
                    	<div id="validation_history_div_{{answer_obj.id}}" style="display:none;"></div>
                        <a data-id="{{answer_obj.id}}" id="validation_history_{{answer_obj.id}}" href="#" class="comments need_history" title="" >Validation history</a> - 
                        <span class="prompt_small">Sign in to add a comment</span>
                    </div>  

                    </span>
					{% if  is_print !=False  %}
                    <span class="suggestion_right">
                        <span class="vote_panel">                          
                            <span class="cannot_vote">
                            
                                {{answer.get('total_up_votes')}}
                                
                                <input type="button" id="voteup_{{answer_obj.id}}" name="voteup_{{answer_obj.id}}" value="Approve" class="voteup disabled">
                                
                                <input type="button" id="votedown_{{answer_obj.id}}" name="votedown_{{answer_obj.id}}" value=" " class="votedown disabled">
                                
                                {% if answer.get('down_vote_last') | int > 0 %}
                                <span class="last_down_votes" id="down_vote_last_{{answer_obj.id}}" onmouseover="display_down_vote_last_msg('{{answer_obj.id}}', '{{answer.get('down_vote_last')}}', '{{answer.get('last_down_vote_date')}}', '{{terminology}}')"  >                                
                                {% else %}
                                <span >
                                {% endif %} 
                                    {{answer.get('total_down_votes')}}                                  
                                </span>
                            </span>               
                        </span>                        
                    </span>                     
                	{% endif %}
                {% endfor %}
            </div>                
            {% endif %}            
            
        </div>
            
    </div>