{# added distinction to id, in order prevent duplicates -RG #}    
    <div class="qasv_content {% if is_print == True %}{% else %}need_tooltip{% endif %}" id="child_of_div_{{this_question.id}}" data-id="{{this_question.id}}" data-paids="" data-jurid="{{jurisdiction.id}}" >         
        <div class="label"  title="{{terminology}}" data-icon="Y" {% if is_print == True %} data-print="T" {% else %}data-print="F" {% endif %} >        
            {{question_label}}{% if question_label[-1] != '?' %}{% endif %}
        </div>  
        
        {% if is_print == False %}        
            {% set ahj_actions_template = 'website/jurisdictions/ahj_actions.html' %}
            {% include ahj_actions_template %}
        
       {% endif %}
  
            
         <div class="data" id="qa_{{this_question.id}}_data" >
            {% if this_question.description != None and this_question.description != '' %}
            <div class="description"  >
                {{this_question.description}}
            </div>     
            {% endif %} 
            
             {% if message != '' %}         
             <div class="question_suggestions_alert" >
                {{message}}
             </div>
             {% endif %} 
                              
             <div class="prompt" >{{prompt}}</div>


        {% if allow_suggest == True %}
        {% if has_no_answer == True  %}
        
        {% else %}
        <div class="suggestion_btn_placement" id="suggest_value_btn_{{this_question.id}}">
            <input type="button" class="smallbutton" value="{{add_btn_value}}" onClick="controller.openSuggestion('{{this_question.id}}');return false;" >
        </div>
        {% endif %}
                       
        <div id="qa_{{this_question.id}}_add" class="suggestion_edit_box">
            <form id="form_{{this_question.id}}" name="name_{{this_question.id}}" action="."  method="post" accept-charset="utf-8"><!--onSubmit="return controller.submitForm('#form_{{this_question.id}}');"-->
                <input type="hidden" name="ajax" value="suggestion_submit" />
                     <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                     <input type="hidden" name="question_id" value="{{this_question.id}}" />   
                                             
            <div id="qa_{{this_question.id}}_fields">    
            
            </div>
            <div>
            	<input type="submit" name="save_{{this_question.id}}" value="Save" id="save_{{this_question.id}}"  class="smallbutton" title="" >
            	<input type="button" name="Cancel" value="Cancel" id="cancel_{{this_question.id}}" class="smallbutton" onClick="controller.closeSuggestion('{{this_question.id}}');"  title="" >
            </div>
            </form>
        </div>     
        {% endif %}      
        </div>                
    </div>