			{% if user.is_authenticated() %}
				<div id="all_info" class="left_nav{{favorite_fields}}" onClick="onclick_ahj_nav('favorite_fields');" >Favorite Fields <img style="vertical-align:bottom" src="/media/images/favorite_icon.png" alt="favorite fields"> <span id="favfieldscount">{{user_number_of_favorite_fields}}</span></div>
			{% endif %}
				<div id="general" class="left_nav{{quirks}}" onClick="onclick_ahj_nav('quirks');">Quirks <img style="vertical-align:bottom" src="/media/images/exception_icon.png" alt="quirks"> <span id="quirkcount">{{quirk_number_of_questions}}</span></div>
				<div id="all_info" class="left_nav{{all_info}}" onClick="onclick_ahj_nav('all_info');" >All Info</div>
				<div id="general" class="left_nav{{general}}" onClick="onclick_ahj_nav('general');">General</div>
				<div id="building" class="left_nav{{building}}" onClick="onclick_ahj_nav('building');">Building</div>
				<div id="clerical" class="left_nav{{clerical}}" onClick="onclick_ahj_nav('clerical');">Clerical</div>
				<div id="electrical" class="left_nav{{electrical}}" onClick="onclick_ahj_nav('electrical');">Electrical</div>
				<div id="fire" class="left_nav{{fire}}" onClick="onclick_ahj_nav('fire');">Fire</div>
				<div id="inspections_requirements" class="left_nav{{inspection_requirements}}" onClick="onclick_ahj_nav('inspection_requirements');">Inspection Requirements</div>
				<div id="inspection_process" class="left_nav{{inspection_process}}" onClick="onclick_ahj_nav('inspection_process');">Inspection Process</div>
				<div id="utility" class="left_nav{{utility}}" onClick="return onclick_ahj_nav('utility')">Utility</div>
				<div id="zoning" class="left_nav{{zoning}}" onClick="return onclick_ahj_nav('zoning')">Zoning</div>
				{% if user.is_staff == 1 or user.is_superuser == 1 or 'projectpermit' in accessible_views %}
				<div id="projectpermit" class="left_nav{{projectpermit}}" onClick="return onclick_ahj_nav('projectpermit')">ProjectPermit.org</div>
				{% endif %}
				{% if user.is_staff == 1 or user.is_superuser == 1 %}				
					<a href="/jurisdiction/migration/result/{{jurisdiction_id}}/" target="_blank"><div class="left_nav{{zoning}}">Migration Result</div></a>
				{% endif %}
				<script type="text/javascript">{# note to self: redesign markup to use standard a href -RG #}
					function onclick_ahj_nav(id)
					{
                        if (id == 'all_info')
                            location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/";
                        else
						    location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/"+id+"/";
						return false;
					}
				</script>

<!-- temporary fix to address menu overlapping footer on jurisdiction page -->
<style>
	footer {
		margin-left: 140px;
	}
</style>