{% extends layout %}
{% block category_content %}  


{% if view == True and vquestions | length == 0 %}
        <h3 class="ahj_category_header" >{{view_title}}</h3>
        
        {% if category == 'favorite_fields' %}
        <div class='ahj_page_message' >This tab displays your favorite data fields. This allows you to easily track the permitting requirements that you care about. Adding a field to the favorites tab is easy.</div>
        <img  style="border:1px blue solid;margin:20px;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
        {% elif category == 'quirks' %}
        <div class='ahj_page_message' >This tab displays quirky permitting requirements. No one has marked one of the requirements as a quirk, but it's easy to do.</div>
        <img  style="border:1px blue solid;margin:20px;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
        {% elif category == 'attachments' %}
        <div class='ahj_page_message' >This tab displays answers with attachments.  No attachments has been uploaded yet.</div>        
        {% else %}
        No category
        {% endif %}

        
{% else %}
        
    {% if category == 'all_info'  %}
        {% if empty_data_fields_hidden | int == 1 %}
            {% if categories_with_answers | length == 0 %}
        
            <div class='ahj_page_message' >No one has entered in data for this Jurisdiction yet. Uncheck the checkbox above to see all data fields.</div>
            {% endif %}
        {% endif %}
    {% endif %}
        
    {% for this_question_category in question_categories %}
        {% set question_category_obj = this_question_category.get('question_category') %}
        {% set question_objs = this_question_category.get('questions') %}
        {% set questions_with_answers = this_question_category.get('questions_with_answers') %}
        <h3 class="ahj_category_header" >{{question_category_obj.description}}</h3>        
        {% if category != 'all_info' %}
        

                {% if category != 'favorite_fields' and category != 'quirks' %}  
                {% if empty_data_fields_hidden | int == 1 %}       
                    {% if question_category_obj.id not in categories_with_answers.keys() %}  
                <div class='ahj_page_message' >No one has entered in data for this category yet. Uncheck the checkbox above to see all data fields.</div>
                    {% endif %}
                {% endif %}
                {% endif %}
        {% else %}
                {% if empty_data_fields_hidden | int == 0 or question_category_obj.id in categories_with_answers.keys() %}  
                
                {% endif %}        
        {% endif %}
        
    
    
        <div class="ahj_general cssRow" style="width:100%">
                <span {% if show_google_map == True and loop.first == True %}class="ahj_general_left cssCell"{% else %} class="ahj_general_no_right cssCell"{% endif %} >
                {% for this_question in question_objs %} 
                    {% if empty_data_fields_hidden | int == 0 or (empty_data_fields_hidden | int == 1 and this_question.id in questions_with_answers) %}
                        {% if this_question.state_exclusive == None or this_question.state_exclusive == '' %}
                        <div id="div_question_content_{{this_question.id}}">
                            <div  class="qasv_content" >
                                <div class="label" >        
                                    {{this_question.label}}{% if this_question.label[-1] != '?' %}{% endif %}
                                 
                                </div>   
                                <div class="data" id="qa_{{this_question.id}}_data" >
                                     <div class="prompt" ><img width="12" height="12" src="/media/images/ajax-loader.gif" alt="loading..."></div>
                                     <div class="suggestion_table"  >
                                            <span class="suggestion_left">&nbsp;</span>
                                            <span class="suggestion_right">&nbsp;</span>
                                    </div>                         
                                </div>  
                            </div>             
                        </div>
                        
                        {% elif this_question.state_exclusive != '' and this_question.state_exclusive.find(state) != -1 %}
                        
                        <div id="div_question_content_{{this_question.id}}">
                            <div  class="qasv_content" >
                                <div class="label" >        
                                    {{this_question.label}}{% if this_question.label[-1] != '?' %}:{% endif %}
                                 
                                </div>   
                                <div class="data" id="qa_{{this_question.id}}_data" >
                                     <div class="prompt" ><img width="12" height="12" src="/media/images/ajax-loader.gif" alt="loading..."></div>
                                     <div class="suggestion_table"  >
                                            <span class="suggestion_left">&nbsp;</span>
                                            <span class="suggestion_right">&nbsp;</span>
                                    </div>                         
                                </div>  
                            </div>             
                        </div>            
                        {% endif %}
                    {% endif %}
                {% endfor %}    
                   &nbsp;
                </span>
                {% if show_google_map == True and loop.first == True %}                
                <span class="ahj_general_right cssCell">

                    {% include 'website/blocks/google_map.html' %}
         
                </span>
                {% endif %}               
        </div>
    
        
        {% if is_print == True %}
        <div></div>
        {% else %}
        
        
            <div id="div_custom_question_content_{{question_category_obj.id}}" style="width:100%"></div>
            {% if request.user.is_authenticated() == True and enable_custom_questions == True %}  
                {# if empty_data_fields_hidden | int == 0 or (empty_data_fields_hidden | int == 1 and question_category_obj.id in categories_with_answers.keys()) #}     
                  
                    <div class="custom_field" >
                        <div class="label">Don't see the info you're looking for here?</div>
                        <div>Check out the other sections to the left or create a custom field to share more info with the community.</div>
                        <div style="padding-top:15px;">
                        <input type="button"  id="create_custom_field_btn_{{question_category_obj.id}}"  name="create_custom_field_btn" value="Create a custom field..." class="smallbutton create_custom_field_btn" data-jurisdiction_id='{{jurisdiction.id}}' data-category_id='{{question_category_obj.id}}' data-current_category='{{category}}'  data-current_questions='{{this_question_category.get('current_questions') | join(',') }}' >
                        </div>
                    </div>
          
                {# endif #}
            {% endif %}    
        {% endif %}   
    
    {% endfor %}

{% endif %}

{% endblock %}


{% block endjs %}
<script type='text/javascript'>
    {% if show_ahj_message == True %}
        controller.postRequest('.', {ajax: 'show_ahj_message', jurisdiction_id: {{jurisdiction.id}} });
    {% endif %}
    
    {% for this_question_category in question_categories %}
        {% set question_objs = this_question_category.get('questions') %}     
        {% set questions_with_answers = this_question_category.get('questions_with_answers') %}          
	    {% for this_question in question_objs %}
            {% if empty_data_fields_hidden | int == 0 or (empty_data_fields_hidden | int == 1 and this_question.id in questions_with_answers) %}
	        controller.postRequest('.', {ajax: 'get_question_content', jurisdiction_id: {{jurisdiction.id}}, question_id: {{this_question.id}}, layout:'{% if is_print == True %}print{% endif %}' });
	        {% endif %}
        {% endfor %}                     
    {% endfor %}    
                
    var entity_name = 'requirement';
    var entity_id = '';
    var value_terminology = 'value';
    
    function set_entity(this_entity_id, this_value_terminology)
    {
        entity_id = this_entity_id;
        value_terminology = this_value_terminology;
        return false;
    }
    
    function send_cancellation()
    {
        controller.postRequest('.', {ajax: 'cancel_suggestion', entity_id : entity_id});
        return false;
    }
    
    function cancel_this_value()
    {
        controller.showConfirm({
                title: 'Are you sure you want to cancel your suggestion?',
                icon: 'question_mark.jpg',
                message: '<br>',
                proceedText: 'Yes',
                cancelText: 'No',
                callback: send_cancellation
            });  
        return false;
    }
    
    function send_approval()
    {
        $('#approve_this_value_'+entity_id).attr('disabled','disabled');
        controller.postRequest('.', {ajax: 'approve_suggestion', entity_id : entity_id});
        return false;
    }
    
    function approve_this_value()
    {
        controller.showConfirm({
                title: 'Are you sure you want to approve this '+value_terminology+'?',
                icon: 'question_mark.jpg',
                message: '<br>',
                proceedText: 'Yes',
                cancelText: 'Cancel',
                callback: send_approval
            });  
        return false;
    }

    function vote_up(can_vote_down)
    {
        if (can_vote_down == 'false')
        {
            controller.showConfirm({
                title: 'Do you want to change your vote to approve?',
                icon: 'question_mark.jpg',
                message: '<br>',
                proceedText: 'Yes',
                cancelText: 'Cancel',
                callback: send_up_vote
            });  
        }
        else   
        {
            send_up_vote();
        }
        return false;
    }

    function vote_down(can_vote_up)
    {
        if (can_vote_up == 'false')
        {    
            controller.showConfirm({
                title: 'Do you want to change your vote to disapprove?',
                icon: 'question_mark.jpg',
                message: '<br>',
                proceedText: 'Yes',
                cancelText: 'Cancel',
                callback: send_down_vote
            });  
        }
        else   
        {
            send_down_vote();
        }
        return false;
    }
  
    function send_up_vote()
    {
        $('#voteup_'+entity_id).attr('disabled','disabled');
        controller.postRequest('.', {ajax: 'vote', vote: 'up', entity_name: 'requirement', entity_id: entity_id});
        return false;
    }

    function send_down_vote()
    {
        $('#votedown_'+entity_id).attr('disabled','disabled');
        controller.postRequest('.', {ajax: 'vote', vote: 'down', entity_name: 'requirement', entity_id: entity_id});
        return false;
    }
    
    function send_confirmed_up_vote()
    {
        controller.postRequest('.', {ajax: 'vote', vote: 'up', entity_name: 'requirement', entity_id: entity_id, confirmed:'yes'});
        return false;
    }
    
    function send_confirmed_down_vote()
    {
        controller.postRequest('.', {ajax: 'vote', vote: 'down', entity_name: 'requirement', entity_id: entity_id, confirmed:'yes'});
        return false;
    }
    
    function confirm_approved(multiple)
    {
        if (multiple == 'yes')
        {
            message = 'Your vote will confirm this '+value_terminology+' as true and close voting.<br/>Other suggestions will be rejected and removed.<br/>Are you sure you want to approve this '+value_terminology+'?';
        }
        else
        {
            message = 'Your vote will confirm this '+value_terminology+' as true and close voting.<br/>Are you sure you want to approve this '+value_terminology+'?';
        }    
            controller.showConfirm({
                title: 'Approve this '+value_terminology+'?',
                icon: 'question_mark.jpg',
                message: message,
                proceedText: 'Yes',
                cancelText: 'Cancel',
                callback: send_confirmed_up_vote
            });  
        return false;
    }
    
    function confirm_rejected()
    {
            controller.showConfirm({
                title: 'Reject this '+value_terminology+'?',
                icon: 'question_mark.jpg',
                message: 'Your vote will confirm this '+value_terminology+' as false and close voting.<br/>Are you sure you want to reject this '+value_terminology+'?',
                proceedText: 'Yes',
                cancelText: 'Cancel',
                callback: send_confirmed_down_vote
            });  
        return false;
    }
    
    function display_validation_history(entity_id)
    {
        obj = document.getElementById('validation_history_popup');
        if (obj.style.display == 'none')
        {
            var left = $('#validation_history_'+entity_id).position().left + 5;
            var top = $('#validation_history_'+entity_id).position().top + 20;   
            obj.style.left = left+'px';
            obj.style.top = top+'px';
            document.getElementById('validation_history_popup').style.display='block';
            controller.postRequest('.', {ajax: 'validation_history', entity_name: 'requirement', entity_id: entity_id});
        }
        else
        {
            document.getElementById('validation_history_popup').style.display='none';
        }
    }
    
    
    function display_down_vote_last_msg(entity_id, num_down_vote_last, date_recorded, value)
    {
        if (parseInt(num_down_vote_last) == 1)
        {
            message = 'The last vote recorded '+date_recorded+' was to reject this '+ value + '.';
        }
        else
        {
            message = 'The last '+num_down_vote_last+' votes recorded '+date_recorded+' was to reject this '+ value + '.';
            //message += '<br/>Last vote recorded ' + date_recorded +'.';
        }
        message = "<div class='black_tooltip' style='width:200px;' >"+message+"</div>";
     	return message;
    }
    
    function display_tooltip(anchor_div, message)
    {
        message = "<div class='black_tooltip'>"+message+"</div>";
        controller.showInfo({target: '#'+anchor_div, content: message});
     
        return false;
    }
    
    function show_edit_cancel_btns(ids)
    {   
        ids = $.trim(ids);
        if (ids != '')
        {
            array_ids = ids.split(' ');
            for (x=0; x<array_ids.length; x++)
            {   
                $('#cancel_btn_'+array_ids[x]).css('visibility','visible');
                $('#edit_btn_'+array_ids[x]).css('visibility','visible');
            }
        }
        return false;
    }
    function hide_edit_cancel_btns(ids)
    {   
        ids = $.trim(ids);
        if (ids != '')
        {
            array_ids = ids.split(' ');
            for (x=0; x<array_ids.length; x++)
            {   
                $('#cancel_btn_'+array_ids[x]).css('visibility','hidden');//hide();
                $('#edit_btn_'+array_ids[x]).css('visibility','hidden');
            }
        }
        return false;
    }
    
    
    function show_hide_vote_confirmation(id)
    {
	    $('#vote_confirmation_'+id).fadeIn(1000, function() {
	            $('#vote_confirmation_'+id).fadeOut(8000, function () {
	                      
	            });                
	        });            
    }
        
	$(document).ready(function() {
	    $('#favorite-a').tooltip({track: true});
	    $(".atooltips").tooltip({track: true});
	    $(".cancel_btn").tooltip({track: true});
	    $(".edit_btn").tooltip({track: true});
		{% if jurisdiction.user_favorite_jurisdiction(user) %}
	        $('#favorite-a').click(function(){controller.postRequest('/user_favorite/', {ajax:'remove_favorite', entity_id:{{jurisdiction.id}},  entity_name:'Jurisdiction'});return false;});
		{% else %}
            $('#favorite-a').click(function(){controller.postRequest('/user_favorite/', {ajax:'add_favorite', entity_id:{{jurisdiction.id}},  entity_name:'Jurisdiction'});return false;});
		{% endif %}
		$("#create_account_a").click(function (){
			controller.postRequest('/account/', {ajax: 'create_account'}); 
			return false;
		});
		
		$("#form_sign_in_submit_button").click(function (){
			controller.submitForm('#form_sign_in');
			return false;
		});
	});
</script>
{% endblock %}

