<table class="ahj_general">
    <tr >
        <td class="ahj_general_left" >
        
        {% for this_question in custom_questions %}
            <div id="div_question_content_{{this_question.id}}">
                <div  class="qasv_content" >
                    <div class="label" >        
                        {{this_question.label}}
                     
                    </div>   
                    <div class="data" id="qa_{{this_question.id}}_data" >
                         <div class="prompt" ><img width="12" height="12" src="/media/images/ajax-loader.gif" alt="loading..." ></div>
                         <div class="suggestion_table"  >
                                <span class="suggestion_left">
                               
                                </span>
                                <span class="suggestion_right">&nbsp;</span>
                        </div>                         
                    </div>  
                </div>             
            </div>
        {% endfor %}       
        </td>
        <td class="ahj_general_right">
        &nbsp;
        </td>
    </tr>
</table>

