{% extends "base_modal_dialog.html" %}

{% block modal_dialog_title %}Comments on {{label}}{% endblock %}

{% block modal_dialog_header %}<a id="add_new_comment_bt" class="mainbutton" href="#"  >Add a new comment...</a>{% endblock %}

{% block modal_dialog_message %}{% endblock %}

{% block body_modal_dialog %}
	<div class="comment-list">
	<ul class="ul-level-1">
	{% include '/website/blocks/comments_list.html' %}
	</ul>
	</div>
	{% if old_answer != None%}
	<div style="background-color:#BFEFFF;border:1px #1E90FF solid;padding:5px 5px 5px 25px;font-size:10px;background-image: url('/media//images/abouticon.png'); background-repeat: no-repeat;" class="">
          {{label}} changed from 
          {{old_answer_text}} 
          to <br/> 
          {{answer_text}}
	</div>
	<div id="show_commnet_div" style="margin-top:10px;">
	<a id="show_old_comments_link" data-oldid="{{old_answer.id}}" data-jid="{{jurisdiction.id}}" href="#"><img src="/media/images/arrow_right.png" id="profile_action_indicator" style="vertical-align:middle;" alt="show old comments" > Show old comments</a>
    </div>
    <div id="old_list" class="comment-list">
    <ul class="ul-level-1">
    </ul>
    </div>
	{% endif %}
{% endblock %}

{% block modal_dialog_action %}
	<input type="button" id="id_close_btn" data-comments-changed="{{comments_changed}}" class="mainbutton" title="Cancel" value="Close"> 
{% endblock %}