<div class="listing_header">
	<table><tr>
		<td style="width: 170px;">User</td>
		<td style="width: 120px;">Rights</td>
		<td style="width: 120px;">Request date</td>
		<td>Actions</td>
	</tr></table>
</div>
  	<div class="listing_list">
	<div id="org_members_list1" class="endlesslist" style="height: 280px;overflow: scroll;">
		{% include "website/organizations/org_member_list.jinja" %}
	</div>
</div>
