.autocomplete-light-widget input.autocomplete {
    width: 43em;
}

.autocomplete-light-widget select.autocomplete-light-widget {
    width: 20em;
    height: 10em;
}

.autocomplete-light-widget .deck-container div {
    display: inline-block;
}
