{% extends "base.html" %}
{% block title %}{% endblock %}

{% block forestyle %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{static('autocomplete_light/style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{static('autocomplete_light/side-by-side.css')}}"/>
    <style>
      th {
        vertical-align: top;
        text-align: left;
        padding-left: 1em;
      }
      th.division {
        padding-left: 0;
      }
      ul[disabled] {
        color: lightgray;
        pointer-events: none;
      }
    </style>
    <style>
        .whatsit table, .whatsit td, .whatsit th {
                max-width: 960px;
                text-align:left;
                font-size: 14px;
                border-top: 1px solid #bdbdbd;
                border-right: 1px solid #bdbdbd;
        }
        .whatsit .data_table {
                min-width: 320px;
        }
        .whatsit td, .whatsit th {
                padding: 4px;
                border: 1px solid #bdbdbd;
                border-top: 0 none;
                border-right: 0 none;
        }
        .whatsit th {
                font-weight: normal;
        }
        .whatsit td {
                text-align: right;
                color: #000;
                border-left: 2px solid #999;
        }
        .whatsit .even {
                background-color: #ebf1fe;
        }
        .header_row_right {
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                text-align: right;
                color: #333;
                font-weight: bold;
        }
        .header_row {
                border-bottom: 2px solid #999;
                color: #333;
                font-weight: bold;
        }
        .legend-dot {
          border-radius: 50%;
          width: .8em;
          height: .8em;
          display: inline-block;
          margin: .1em .4em 0 .2em;
          background-color: transparent;
        }
        .report {
          max-width: 320px;
          margin-left: 25px;
          float: left;
        }
        .graph {
          width: 320px;
          height: 320px;
        }
        .whatsit .busy-indicator {
          background-image: none;
          display: inline-block;
          height: 1em;
          width: 16px;
          margin: 0 3px;
        }
        .whatsit.loading .busy-indicator {
          background-image: url("/media/images/ajax-loader.gif");
        }
        .selector select {
          display: inline-block;
          width: 75%;
          margin: 0 3px;
        }
        .selector a {
          display: inline-block;
        }
    </style>
  {% endcompress %}
{% endblock %}

{% block forejs %}
{% endblock %}

{% block body %}
  <div class="contentOnlyPage">
  </div>
  <div id="hidden_controls" style="display: none;">
    <select>
      {% for item in reports_index %}
        <optgroup label="{{item['category']}}">
          {% for report in item['reports_in_category'] %}
            {% if report['id'] == question_id %}
              <option value="{{report['id']}}" selected>{{report['label']}}</option>
            {% else %}
              <option value="{{report['id']}}">{{report['label']}}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <div id="filter_selection">
      {{ form.media|safe }}
      <table>
        <tr><th class="division" colspan="2">Filter criteria:</th></tr>
        <tr><th><input type="radio" name="type" value="state"
                       {{ 'checked' if form.initial.states }}
                       id="type-state" class="type-selection">
                <label for="type-state">{{ form.states.label }}<label></th>
            <td>{{ form.states|safe }}
                {{ form.states.errors|safe }}</td></tr>
        <tr><th><input type="radio" name="type" value="jurisdiction"
                       {{ 'checked' if form.initial.jurisdictions }}
                       id="type-jurisdiction" class="type-selection">
                <label for="type-jurisdiction">{{ form.jurisdictions.label }}</label></th>
            <td>{{ form.jurisdictions|safe }}
                {{ form.jurisdictions.errors|safe }}</td></tr>
      </table>
      <button id="add_filter">Filter</button>
    </div>
  </div>
{% endblock %}

{% block endjs %}
  <script>
    var reports = {{reports_json|safe}};
  </script>
  {% compress js %}
    {% include 'autocomplete_light/_ajax_csrf.html' %}
    <script type="text/javascript" src="{{static('autocomplete_light/autocomplete.js')}}"></script>
    <script type="text/javascript" src="{{static('autocomplete_light/widget.js')}}"></script>
    <script type="text/javascript" src="{{static('autocomplete_light/side-by-side.js')}}"></script>
    <script src="/media/js/raphael.js"></script>
    <script src="/media/js/g.raphael.js"></script>
    <script src="/media/js/g.pie.js"></script>
    <script src="/media/js/g.bar.js"></script>
    <script src="/static/state-machine.js"></script>
    <script src="/static/reporting/ui.js"></script>
  {% endcompress %}
{% endblock %}
