{% extends "base.html" %}
{% block title %}{% endblock %}

{% block forestyle %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{static('autocomplete_light/style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{static('autocomplete_light/side-by-side.css')}}"/>
    <style>
      table {
        width: 100%;
      }
      th {
        vertical-align: top;
        text-align: left;
        width: 20%;
      }
      th.division {
        padding-left: 0;
      }
      #id_jurisdictions-wrapper {
        display: block;
      }
      ul[disabled] {
        color: lightgray;
        pointer-events: none;
      }
    </style>
    <style>
        .whatsit {
          margin: 2em;
          padding: .5em;
          border: thin solid lightgray;
          border-radius: 1em;
        }
        #add-another {
          margin: 0 2em;
        }
        .whatsit table, .whatsit td, .whatsit th {
                max-width: 960px;
                text-align:left;
                font-size: 14px;
                border-top: 1px solid #bdbdbd;
                border-right: 1px solid #bdbdbd;
        }
        .whatsit .data_table {
                min-width: 320px;
        }
        .whatsit td, .whatsit th {
                padding: 4px;
                border: 1px solid #bdbdbd;
                border-top: 0 none;
                border-right: 0 none;
        }
        .whatsit th {
                font-weight: normal;
        }
        .whatsit td {
                text-align: right;
                color: #000;
                border-left: 2px solid #999;
        }
        .whatsit .even {
                background-color: #ebf1fe;
        }
        .header_row_right {
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                text-align: right;
                color: #333;
                font-weight: bold;
        }
        .header_row {
                border-bottom: 2px solid #999;
                color: #333;
                font-weight: bold;
        }
        .legend-dot {
          border-radius: 50%;
          width: .8em;
          height: .8em;
          display: inline-block;
          margin: .1em .4em 0 .2em;
          background-color: transparent;
        }
        .report {
          max-width: 320px;
          margin-left: 25px;
          display: inline-block;
        }
        .graph {
          width: 320px;
          height: 320px;
        }
        .whatsit .busy-indicator {
          background-image: none;
          display: inline-block;
          height: 1em;
          width: 16px;
          margin: 0 3px;
        }
        .whatsit.loading .busy-indicator {
          background-image: url("/media/images/ajax-loader.gif");
        }
        .selector select {
          display: inline-block;
          width: 75%;
          margin: 0 3px;
        }
        .selector a {
          display: inline-block;
        }
    </style>
  {% endcompress %}
{% endblock %}

{% block forejs %}
{% endblock %}

{% block body %}
  <div id="all-reports">
  </div>
  <button id="add-another">Add another report...</button>
  <div id="hidden_controls" style="display: none;">
    <select>
      <option>Choose a question…</option>
      {% for item in reports_index %}
        <optgroup label="{{item['category']}}">
          {% for report in item['reports_in_category'] %}
            {% if report['id'] == question_id %}
              <option value="{{report['id']}}" selected>{{report['label']}}</option>
            {% else %}
              <option value="{{report['id']}}">{{report['label']}}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <div id="filter_selection">
      {% include 'reporting/filter_criteria.jinja' %}
    </div>
  </div>
{% endblock %}

{% block endjs %}
  <script>
    var reports = {{reports_json|safe}};
  </script>
  {% compress js %}
    {% include 'autocomplete_light/_ajax_csrf.html' %}
    <script type="text/javascript" src="{{static('autocomplete_light/autocomplete.js')}}"></script>
    <script type="text/javascript" src="{{static('autocomplete_light/widget.js')}}"></script>
    <script type="text/javascript" src="{{static('autocomplete_light/side-by-side.js')}}"></script>
    <script src="/media/js/raphael.js"></script>
    <script src="/media/js/g.raphael.js"></script>
    <script src="/media/js/g.pie.js"></script>
    <script src="/media/js/g.bar.js"></script>
    <script src="/static/state-machine.js"></script>
    <script src="/static/reporting/ui.js"></script>
  {% endcompress %}
{% endblock %}
