{% extends "base.jinja" %}
{% block title %}{% endblock %}

{% block forestyle %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="/media/autocomplete_light/style.css"/>
    <link rel="stylesheet" type="text/css" href="/media/autocomplete_light/side-by-side.css"/>
    <link rel="stylesheet" type="text/css" href="/media/reporting/ui.css"/>
  {% endcompress %}
{% endblock %}

{% block forejs %}
{% endblock %}

{% block body %}
  <div id="all-reports">
  </div>
  <button id="add-another">Add another report...</button>
  <div id="hidden_controls" style="display: none;">
    <select>
      <option>Choose a question…</option>
      {% for item in reports_index %}
        <optgroup label="{{item['category']}}">
          {% for report in item['reports_in_category'] %}
            {% if report['id'] == question_id %}
              <option value="{{report['id']}}" selected>{{report['label']}}</option>
            {% else %}
              <option value="{{report['id']}}">{{report['label']}}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>
    <div id="filter_selection">
      {% include 'reporting/filter_criteria.jinja' %}
    </div>
  </div>
{% endblock %}

{% block endjs %}
  <script>
    var reports = {{reports_json|safe}};
  </script>
  {% compress js %}
    <script src="/media/autocomplete_light/autocomplete.js"></script>
    <script src="/media/autocomplete_light/widget.js"></script>
    <script src="/media/autocomplete_light/side-by-side.js"></script>
    <script src="/media/js/raphael.js"></script>
    <script src="/media/js/g.raphael.js"></script>
    <script src="/media/js/g.pie.js"></script>
    <script src="/media/js/g.bar.js"></script>
    <script src="/media/state-machine.js"></script>
    <script src="/media/stateHistory.js"></script>
    <script src="/media/reporting/ui.js"></script>
  {% endcompress %}
{% endblock %}
