
<div class="org_settings_close"><a href="#">&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;</a></div>

<div class="notification-setting" style="">
<form id="form_notification_setting" action="/user_favorite/" method="post" accept-charset="utf-8" novalidate="novalidate">
<input name="ajax" type="hidden" value="notification_setting_submit">
<h5>Notify me when my favorite AHJs are updated:</h5>
{% include 'website/form_fields/radio_field.html' %}
<div class="setting_action">
<input type="submit"  id="setting_submit_button" class="mainbutton"  title="Save" value="Save">
<input type="button" id="setting_org_cancel" class="mainbutton redback"  title="Cancel" value="Cancel">
</div>
</form>
</div>