{% extends "base.html" %}
    
<!-- template jurisdiction_state_browse.html -->
{% block title %}Favorite Jurisdictions{% endblock %}

{% block page_title %}Favorite Jurisdictions{% endblock %}

{% block body %}
<div class="field_help_text" style="padding-left:10px">* To add a jurisdiction to your favorites, visit that jurisdiction page and click the "Add to favorites" link at the top of the page.</div>
<div id="favorite_jurisdiction" style="" class="favorite">
	<div id="leftdiv" class="favorite_left">
		<div class="jurisdiction-list listing_list" style="height: 400px;overflow-y: scroll; overflow-x:hidden;">
			<div id="favorite-all" data-id="0" data-name="All favorites" class="all_favorites_header">
				<table width='100%'>
					<tr>
						<td class="favorite-td2">All favorites</td>
						<td class="favorite-td3"><a id="notification_setting_a" href="#" >Notification preferences</a></td></tr>
				</table>
			</div>
			{% include 'website/accounts/favorite_list.html' %}
		</div>
	</div>
	<div id="rightdiv" class="favorite_right">
		<h5>Recent updates to my favorites<label style="float:right;">Show:
		<select id="id_favorite_name">
			<option value="0" selected = "selected"> All favorites</option>
			{% for jurisdiction in jurisdictions%}
			<option value="{{jurisdiction.id}}" > {{jurisdiction.name}} </option>
			{% endfor %} 
		</select>
		</label>
		</h5>		
		<hr class="hrdivider">
		<div id="updates-list" style="overflow-y: scroll; overflow-x:hidden; height: 360px;">
			{% include 'website/accounts/recent_update_list.html' %}
		</div>
	</div>
</div>
{% endblock %}

{% block endjs %}
<script type='text/javascript'>
$(document).ready(function() {
	$('.jurisdiction-list .selectable').click(function (){
		//$('.jurisdiction-list .selectable').each( function (index, domEle){ $(domEle).removeClass('selected'); fid = $(domEle).attr('id'); $('#'+fid+' .favorite-td1 img').hide(); $('#'+fid+' .favorite-td3 a').hide();});
		//$(this).addClass('selected');
		this_id = $(this).attr('id');
		jid = $(this).data('id');
		//alert(jid);
		$('#'+this_id+' .favorite-td1 img').show();	
		$('#favorite-all .favorite-td3 a').show();
		$('#'+this_id+' .favorite-td3 a').show();
		//window.location.href= '/jurisdiction/'+jid;
		//$('#favorite_name').empty().append($(this).data('name'));
		//ontroller.postRequest('/user_favorite/', {ajax:'show_jurisdiction_updates', jurisdiction_id: jid});
	});
	
	$('.jurisdiction-list .selectable').hover(
		function(){
			this_id = $(this).attr('id');
			$('#'+this_id+' .favorite-td3 a').show();
		},
		function(){
			this_id = $(this).attr('id');
			$('#'+this_id+' .favorite-td3 a').hide();
			$('#favorite-all .favorite-td3 a').show();
		}
	);
	
	$('#id_favorite_name').bind('change', function (){
		controller.postRequest('/user_favorite/', {ajax:'show_jurisdiction_updates', jurisdiction_id: $('#id_favorite_name').val()});
		//alert($('#id_favorite_name').val());
	});
	
	$('.jurisdiction-list .selectable .favorite-td3 a').tooltip({track: true});
	
	$('.jurisdiction-list .selectable .favorite-td3 a').click(function (){
		jid = $(this).data('jid');
		controller.postRequest('/user_favorite/', {ajax:'remove_favorite_jurisdiction', entity_id:jid,  entity_name:'Jurisdiction'});
		return false;
	});
	
	$('#notification_setting_a').click(function (){
		controller.postRequest('/user_favorite/', {ajax:'open_notification_setting'});return false;
	});
	
	$('#updates-list').jscroll();
})
</script>
{% endblock %}