{% if not question.user_can_suggest %}
  {% set icon = 'Y' %}
  {% set label_tooltip = 'Sorry, you have already provided an answer.' %}
{% else %}
  {% if user.is_authenticated() %}
    {% set icon = 'Y' %}
    {% set label_tooltip = '' %}
  {% else %}
    {% set icon = 'N' %}
    {% set label_tooltip = '' %}
  {% endif %}
{% endif %}
<div style="width:100%;"
     class="qasv_content need_tooltip"
     id="child_of_div_{{question_id}}"
     data-id="{{question_id}}"
     data-jurid="{{jurisdiction.id}}">
  <div class="label"
       title="{{question['terminology']}}"
       data-icon="{{icon}}"
       data-label_tooltip="{{label_tooltip}}"
       {% if question.user_can_suggest %}
       onClick="controller.suggestionField.clickAddLabel({{jurisdiction.id}}, {{question_id}});"
       {% endif %}>
    <span>{{question['label'] | replace('[AHJ name]', jurisdiction.name) }}</span>
  </div>
  {% with current_question_id = question['question_id'] %}
    {% include "website/jurisdictions/ahj_actions.jinja" %}
  {% endwith %}
</div>
{% if question['description'] != None and question['description'] != '' %}
  <div style="padding-left: 25px" class="description">{{question['description']}}</div>
{% endif %}
{% if question.user_can_suggest %}
  <div id="qa_{{question_id}}_add" class="cssCell suggestion_edit_box" style="display:none">
    <form id="form_{{question_id}}" name="name_{{question_id}}" action="."  method="post" accept-charset="utf-8">
      <input type="hidden" name="ajax" value="suggestion_submit" />
      <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
      <input type="hidden" name="question_id" value="{{question_id}}" />
      <div id="qa_{{question_id}}_fields"></div>
      <div>
        <input type="submit" name="save_{{question_id}}" value="Save" id="save_{{question_id}}" class="smallbutton" title="">
        <input type="button" name="Cancel" value="Cancel" id="cancel_{{question_id}}" class="smallbutton" onClick="controller.closeSuggestion('{{question_id}}');"  title="">
      </div>
    </form>
  </div>
{% endif %}
{% if not question['answers'] %}
  <div class="prompt"
       style="margin-bottom:20px">
    {% if user.is_authenticated() %}
      No info available yet...
    {% else %}
      Please sign in to suggest {{question['terminology']}}.
    {% endif %}
  </div>
{% else %}
  <div style="display:none" class="question_messages" id="question_messages_{{question_id}}"></div>
{% endif %}
{% for answer in question['answers'] %}
  <div data-debug-answer-id="{{answer.id}}" class="answer-container">
    <div class="cssTable">
      <div class="cssRow" id="qa_{{question_id}}_data">
        <div class="cssCell suggestion_left" style="padding-left: 25px">
          {% if question['answers'] %}
            <div class="suggestion_header" id="suggestion_header_{{answer['id']}}">
              {{ answer_heading }}
            </div>
          {% endif %}
          <div class="field answer_field"
               id="{{answer['id']}}"
               {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
               onmouseover="controller.initSuggestionFieldEvent(this);"
               {% endif %}>
            {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
              {# need to take into account if votes have been registered for this answer #}
              <span class="cancel_btn" id="cancel_btn_{{answer['id']}}" title="Cancel your message" style="width:20px;float:left;">
                <input class="cancelbt field_mo_l3 cancel_this_value"
                       type="button"
                       value=""
                       data-id="{{answer['id']}}">
              </span>
              <span class="edit_btn" id="edit_btn_{{answer['id']}}" title="Edit your suggestion" style="width:35px;float:left">
                <input class="editbt canedit field_mo_l1 edit_this_value"
                       id="edit_button_{{answer['id']}}"
                       type="button" value=""
                       data-id="{{answer['id']}}"
                       data-questions_terminology="{{question['terminology']}}"
                       data-jurid="{{jurisdiction.id}}"
                       data-qid="{{question_id}}">
              </span>
            {% endif %}
            {% with %}
              {% set answer_content = answer['content'] %}
              {% set current_question_field_suffix = answer['field_suffix'] %}
              {% if question['display_template'] == '' or question['display_template'] == None %}
                {% include "website/jurisdictions/suggestion_display_template/single_field_display.jinja" %}
              {% else %}
                {% include "website/jurisdictions/suggestion_display_template/"+question['display_template']+".jinja" %}
              {% endif %}
            {% endwith %}
            {% if question.support_attachments and 'attachments' in answer %}
              <div id="attachment_{{current_answer_id}}" style="">
                {% with attachment = answer['attachments'][0] %}
                  {% include "website/jurisdictions/suggestion_display_template/file_uploading_display.jinja" %}
                {% endwith %}
              </div>
            {% endif %}
          </div>
          <div class="valhis">
            {% if user.is_authenticated(): %}
              {% if answer['approval_status'] == 'A' %}
                <div id="validation_history_div_{{answer['id']}}" style="display:none;"></div>
                <a class="comments need_history need_history_dialog"
                   data-id="{{answer['id']}}"
                   id="validation_history_{{answer['id']}}"
                   href="javascript:void(0);"
                   title="">
                  Validation history</a> -
                <a class="comments need_comment"
                   href="#"
                   data-id="{{answer['id']}}"
                   data-jid="{{jurisdiction.id}}"
                   id="answer_comment_{{answer['id']}}">
                  Comment
                </a>
              {% else %}
                <div class="valhis">
                  <a id="answer_comment_{{answer['id']}}"
                     href="#"
                     class="comments need_comment"
                     data-id="{{answer['id']}}"
                     data-jid="{{jurisdiction.id}}"
                     onClick="controller.postRequest('/jurisdiction_comment/', {ajax: 'open_jurisdiction_comment', urisdiction_id: {{jurisdiction.id}}, entity_id: {{answer['id']}}, entity_name: 'AnswerReference'}); return false;">
                    Comment
                  </a>
                </div>
              {% endif %}
            {% else %}
              <div id="validation_history_div_{{answer['id']}}" style="display:none;"></div>
              <a data-id="{{answer['id']}}"
                 id="validation_history_{{answer['id']}}"
                 href="#" class="comments need_history"
                 title="">
                Validation History
              </a> -
              <span class="prompt_small">Sign in to add a comment</span>
            {% endif %}
          </div>
        </div>
        <div class="cssCell suggestion_right">
          {% include "/website/jurisdictions/ahj_answer_votes.jinja" %}
          {% if user.is_superuser == 1 and answer['approval_status'] != 'A' %}
            <div>
              <input id="approve_this_value_{{answer['id']}}"
                     type="button"
                     class="smallbutton approve_this_value"
                     value="Approve this {{question['terminology']}}"
                     data-id="{{answer['id']}}"
                     data-questions_terminology="{{question['terminology']}}">
            </div>
          {% endif %}
        </div>
      </div>
      {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
        <div class="cssRow">
          <div class="cssCell">
            <div id="qa_answer_{{answer['id']}}_edit" class="suggestion_edit_box" style="display:none">
              <form id="form_edit_{{answer['id']}}"
                    name="name_edit_{{answer['id']}}"
                    action="."
                    method="post"
                    accept-charset="utf-8">
                <input type="hidden" name="ajax" value="suggestion_edit_submit" />
                <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                <input type="hidden" name="question_id" value="{{answer['question_id']}}" />
                <input type="hidden" name="answer_id" value="{{answer['id']}}" />
                <div id="qa_{{answer['id']}}_edit_fields"></div>
                <div>
                  <input type="submit"
                         name="save_edit_{{answer['id']}}"
                         value="Save"
                         id="save_edit_{{answer['id']}}"
                         class="smallbutton" title="">
                  <input type="button"
                         name="Cancel cancelEdit" value="Cancel"
                         id="cancel_edit_{{answer['id']}}"
                         class="smallbutton"
                         onClick="controller.closeSuggestionEditAnswer('{{answer['id']}}');"
                         title="">
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
