			{% if user.is_authenticated() %}
				<div id="favorite_fields" class="left_nav{{favorite_fields}}"  >Favorite Fields <img style="vertical-align:bottom" src="/media/images/favorite_icon.png" alt="favorite fields"> <span id="favfieldscount">{{user_number_of_favorite_fields}}</span></div>
			{% endif %}
				<div id="quirks" class="left_nav{{quirks}}"  >Quirks <img style="vertical-align:bottom" src="/media/images/exception_icon.png" alt="quirks"> <span id="quirkcount">{{quirk_number_of_questions}}</span></div>
				<div id="attachments" class="left_nav{{attachments}}"  >Attachments</div>
				<div id="all_info" class="left_nav{{all_info}}"   >All Info</div>
				<div id="general" class="left_nav{{general}}" >General</div>
				<div id="building" class="left_nav{{building}}"  >Building</div>
				<div id="clerical" class="left_nav{{clerical}}"  >Clerical</div>
				<div id="electrical" class="left_nav{{electrical}}"  >Electrical</div>
				<div id="fire" class="left_nav{{fire}}"  >Fire</div>
				<div id="inspections_requirements" class="left_nav{{inspection_requirements}}"  >Inspection Requirements</div>
				<div id="inspection_process" class="left_nav{{inspection_process}}"  >Inspection Process</div>
				<div id="utility" class="left_nav{{utility}}"  >Utility</div>
				<div id="zoning" class="left_nav{{zoning}}"  >Zoning</div>
				{% if user.is_staff == 1 or user.is_superuser == 1 or 'projectpermit' in accessible_views %}
				<div id="projectpermit" class="left_nav{{projectpermit}}" >ProjectPermit.org</div>
				{% endif %}
				{% if user.is_staff == 1 or user.is_superuser == 1 %}				
				<div id="migrationresult" class="left_nav{{migrationresult}}" ><a href="/jurisdiction/migration/result/{{jurisdiction_id}}/" target="_blank">Migration Result</a></div>
				{% endif %}
				<script type="text/javascript">{# note to self: redesign markup to use standard a href -RG #}


$(document).ready(function() {
    $('#favorite_fields').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/favorite_fields/";
        return false;
    });                         
 
    $('#quirks').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/quirks/";
        return false;
    });     
    
    $('#attachments').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/attachments/";
        return false;
    });     

    $('#all_info').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/";
        return false;
    });     
    
    $('#general').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/general/";
        return false;
    });     

    $('#building').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/building/";
        return false;
    });     
    
    $('#clerical').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/clerical/";
        return false;
    });     
    
    $('#electrical').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/electrical/";
        return false;
    });     
    
    $('#fire').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/fire/";
        return false;
    });     
    
    $('#inspections_requirements').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/inspection_requirements/";
        return false;
    });
    
    $('#inspection_process').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/inspection_process/";
        return false;
    });      
    
    $('#utility').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/utility/";
        return false;
    });      

    $('#zoning').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/zoning/";
        return false;
    });      
        
    $('#projectpermit').click(function(){
        location.href = "/jurisdiction/{{jurisdiction.name_for_url}}/projectpermit/";
        return false;
    });                                                         
});
</script>
           

<!-- temporary fix to address menu overlapping footer on jurisdiction page -->
<style>
	footer {
		margin-left: 140px;
	}
</style>