{% extends "/website/jurisdictions/AHJ_print.html" %}
{% block category_content %}  

{% if cqa | length == 0 %}
    {% if category != 'all_info' and category not in original_categories %}
        {% if category == 'favorite_fields' %}
            <div class='ahj_page_message' >This tab displays your favorite data fields. This allows you to easily track the permitting requirements that you care about. Adding a field to the favorites tab is easy.
                <img  style="border:1px blue solid;margin:20px;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
            </div>
        {% elif category == 'quirks' %}
            <div class='ahj_page_message' >This tab displays quirky permitting requirements. No one has marked one of the requirements as a quirk, but it is easy to do.
                <img  style="border:1px blue solid;margin:20px;float:left;" src="/media/images/favorites_quirks_howtos.png" alt="favorites_quirks_howtos" >
            </div>
        {% elif category == 'attachments' %}
            <div class='ahj_page_message' >This tab displays answers with attachments.  No attachments has been uploaded yet.</div>        
        {% else %}
            <div class='cssCell ahj_page_message' >No one has entered in data for this category yet. Uncheck the checkbox above to see all data fields.</div>        
        {% endif %}   
    
     {% else %}    
         {% if category == 'all_info' %}
                <div class='ahj_page_message' >No one has entered in data for this jurisdiction yet. Uncheck the checkbox above to see all data fields.</div>     
        {% elif category in original_categories %}
                <div class='ahj_page_message' >No one has entered in data for this {{category}} category yet. Uncheck the checkbox above to see all data fields.</div>   
         {% endif %}
    {% endif %}
{% endif %}   
                
                
{% set current_category_id = None %}
{% set current_question_id = None %}

{% for rec in cqa %}

    {% if (rec['category_id'] != None and rec['question_id'] != None and rec['id'] == None) or (rec['category_id'] != None and rec['question_id'] != None and rec['id'] != None and rec['question_id'] != current_question_id) %}     {# new question, possibly new category #}

        {% if rec['category_id'] != current_category_id %}  {# start of new category #}
                                                             
            {% if current_question_id != None %}
                </div>  <!-- end of question at end of category -->           
            {% endif %}
            
            
            {% set current_category_id = rec['category_id'] %}
            {% set current_question_id = None %}             {# reset the current question for new category #}

    
            
            {# display the new category here #}
            <div class="ahj_category_header" style="width:100%;float:left;" >{{ rec['cat_description'] | capitalize }}</div> 
        {% endif %}
        

        {# question-related here #}
        {% if rec['question_id'] != current_question_id %}
            {% if current_question_id != None %}  {# not the first question in the category -- need to close the prev question #}
                                    
                
                </div> <!-- close of question -->
                                                                                  
            {% endif %}
        {% endif %}

        {# display new question here #}
        
        {% set current_question_id = rec['question_id'] %}
        {% set current_question_field_suffix= rec['field_suffix'] %}                 
        {% set terminology = questions_terminology.get(current_question_id) %}   
        {% set question_has_answers = questions_have_answers.get(current_question_id) %}        

            <div id="div_question_content_{{current_question_id}}" style="margin-left:25px;">     
                <div style="width:100%;" class="qasv_content need_tooltip" id="child_of_div_{{current_question_id}}" >            
                    <div class="label"  title="{{terminology}}" >
                        <span style="float:left;visibility:visible;display:none;padding-right:5px" id="edit_question_{{current_question_id}}"   ><img width="10" src="/media/images/edit.png" alt="edit" ></span>
                        <span style="float:left;" >{{rec['label'] | replace('[AHJ name]', jurisdiction.name) }}{% if rec['label'][-1] != '?' %}{% endif %} {#- {{current_question_id}}#}</span>
                    </div>                  
                </div> 

        {% if rec['description'] != None and rec['description'] != '' %}
                <div style="float:left;width:100%" class="description" >{{rec['description']}}</div> 
        {% endif %}       
        
        {% if question_has_answers == False %}
            {% if user.is_authenticated() == True %}
                <div class="prompt" style="float:left;width:100%;margin-bottom:20px">No info available yet...</div>   
            {% else %}
                <div class="prompt" style="float:left;width:100%;margin-bottom:20px">Please sign in to suggest {{terminology}}</div>  
            {% endif %}             
        {% endif %}

     
    {% endif %}    
 
        {% if rec['category_id'] != None and rec['question_id'] != None and rec['id'] != None %}     {# new answer #}     
            {% set current_answer_id = rec['id'] %}                                                                                                                                
            {% set answer_content = answers_contents.get(current_answer_id) %}
        <div class="cssTable" style="float:left;width:100%;margin-bottom:20px" >
            <div class="cssRow" id="qa_{{current_question_id}}_data" >
                <div class="cssCell suggestion_left" style="">    
            {% if user.is_authenticated() == True or (user.is_authenticated() == False and rec['approval_status'] == 'A') %}
                    <div class="field answer_field" id="{{current_answer_id}}" >

                    {% if rec['display_template'] == '' or rec['display_template'] == None %}
                        {% include 'website/jurisdictions/suggestion_display_template/single_field_display.html' %}
                    {% else %}
                        {% include 'website/jurisdictions/suggestion_display_template/'+rec['display_template'] %}
                    {% endif %}
        
                    {% if rec['support_attachments'] | int == 1 %}
                        <div id="attachment_{{current_answer_id}}" style="display:none"></div>                                           
                    {% endif %}              
                    </div>
                      
                                      

            {% else %}
                {% if user.is_authenticated() == False and rec['approval_status'] == 'P' %} 
                    <div class="prompt" style="float:left;width:100%;margin-bottom:20px">      
                        There is unverified information available for this field. <br>Please sign in to see the info and vote on its accuracy.                 
                    </div>  
                {% endif %}     
            {% endif %}    
                </div>                            
                <div class="csscell suggestion_right" >                                           
                                          
    
                </div>

                        
            </div>
                      
        </div>
        {% if user.is_authenticated() == True %}
            {% if rec['approval_status'] == 'P' %}
        <div class="prompt" style="float:left;width:100%;margin-bottom:20px">This {{terminology}} is not verfied.</div>   
            {% endif %}           
        {% endif %}            
        {% endif %}



    
    {% if loop.last == True %}
        </div> {# end of the last question in the last category #}
        
    {% endif %}                                     
{% endfor %}



{% endblock %}