{% if not question.user_can_suggest %}
  {% set icon = 'Y' %}
  {% set label_tooltip = 'Sorry, you have already provided an answer.' %}
{% else %}
  {% if user.is_authenticated() %}
    {% set icon = 'Y' %}
    {% set label_tooltip = '' %}
  {% else %}
    {% set icon = 'N' %}
    {% set label_tooltip = '' %}
  {% endif %}
{% endif %}
<div style="width:100%;"
     class="qasv_content need_tooltip"
     id="child_of_div_{{question_id}}"
     data-id="{{question_id}}"
     data-jurid="{{jurisdiction.id}}">
  <div class="label"
       data-icon="{{icon}}"
       data-label_tooltip="{{label_tooltip}}"
       {% if question.user_can_suggest %}
       title="{{question['terminology']}}" onclick="controller.suggestionField.clickAddLabel({{jurisdiction_id}}, {{question_id}});"
       {% endif %}>
    <span>{{question['label'] | replace('[AHJ name]', jurisdiction.name) }}</span>
  </div>
</div>
{% if question['description'] != None and question['description'] != '' %}
  <div class="description">{{question['description']}}</div>
{% endif %}
{% if question.user_can_suggest %}
  <div id="qa_{{question_id}}_add" class="cssCell suggestion_edit_box" style="display:none">
    <form id="form_{{question_id}}" name="name_{{question_id}}" action="."  method="post" accept-charset="utf-8">
      <input type="hidden" name="ajax" value="suggestion_submit" />
      <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
      <input type="hidden" name="question_id" value="{{question_id}}" />
      <div id="qa_{{question_id}}_fields"></div>
      <div>
        <input type="submit" name="save_{{question_id}}" value="Save" id="save_{{question_id}}" class="smallbutton" title="">
        <input type="button" name="Cancel" value="Cancel" id="cancel_{{question_id}}" class="smallbutton" onClick="controller.closeSuggestion('{{question_id}}');"  title="">
      </div>
    </form>
  </div>
{% endif %}
{% if not question['answers'] %}
  <div class="answer-container">
    <div class="cssTable">
      <div class="cssCell suggestion_left">
        {% if user.is_authenticated() %}
          <div class="field answer_field">
            <div class="prompt">
              No info available yet...
            </div>
          </div>
          {% with needs_separator = False %}
            {% include "website/jurisdictions/ahj_actions_question.jinja" %}
          {% endwith %}
        {% else %}
          <div class="field answer_field">
            <div class="prompt" style="margin-bottom: 15px">
              Please sign in to suggest {{question['terminology']}}.
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <div style="display:none" class="question_messages" id="question_messages_{{question_id}}"></div>
{% endif %}
{% for answer in question['answers'] %}
  <div data-debug-answer-id="{{answer.id}}" class="answer-container{% if loop.index != 1 %} secondary{% endif %}"{% if answer['has_multivalues'] == 1 %}style="background-color: transparent;"{% endif %}>
    <div class="cssTable">
      <div class="cssTable" id="qa_{{question_id}}_data">
        <div class="cssCell suggestion_left">
          {% if question['answers'] %}
            {% if answer_heading  or (loop.index != 1 and answer['has_multivalues'] != 1) %}
            <div class="suggestion_header" id="suggestion_header_{{answer['id']}}">
              {% if answer_heading %}{{ answer_heading }}{% elif loop.index != 1 and answer['has_multivalues'] != 1 %}New Suggestion{% endif %}
            </div>
            {% endif %}
          {% endif %}
          <div class="field answer_field"
               id="{{answer['id']}}"
               {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
               onmouseover="controller.initSuggestionFieldEvent(this);"
               {% endif %}>
            {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
              {# need to take into account if votes have been registered for this answer #}
              <span class="cancel_btn" id="cancel_btn_{{answer['id']}}" title="Cancel your message" style="width:20px;float:left;">
                <input class="cancelbt field_mo_l3 cancel_this_value"
                       type="button"
                       value=""
                       data-id="{{answer['id']}}">
              </span>
              <span class="edit_btn" id="edit_btn_{{answer['id']}}" title="Edit your suggestion" style="width:35px;float:left">
                <input class="editbt canedit field_mo_l1 edit_this_value"
                       id="edit_button_{{answer['id']}}"
                       type="button" value=""
                       data-id="{{answer['id']}}"
                       data-questions_terminology="{{question['terminology']}}"
                       data-jurid="{{jurisdiction.id}}"
                       data-qid="{{question_id}}">
              </span>
            {% endif %}
            {% with %}
              {% set answer_content = answer['content'] %}
              {% set current_question_field_suffix = answer['field_suffix'] %}
              {% if question['display_template'] == '' or question['display_template'] == None %}
                {% include "website/jurisdictions/suggestion_display_template/single_field_display.jinja" %}
              {% else %}
                {% include "website/jurisdictions/suggestion_display_template/"+question['display_template']+".jinja" %}
              {% endif %}
            {% endwith %}
            {% if question.support_attachments and 'attachments' in answer %}
              <div id="attachment_{{current_answer_id}}" style="">
                {% with attachment = answer['attachments'][0] %}
                  {% include "website/jurisdictions/suggestion_display_template/file_uploading_display.jinja" %}
                {% endwith %}
              </div>
            {% endif %}
          </div>
          {% if loop.index == 1 and user.is_authenticated() %}
            {% with needs_separator = True %}
              {% include "website/jurisdictions/ahj_actions_question.jinja" %}
            {% endwith %}
          {% endif %}
          {% include "website/jurisdictions/ahj_actions_answer.jinja" %}
        </div>
        <div class="cssCell suggestion_right">
          {% if not user.is_authenticated() %}
            <span class="prompt_small" style="padding-bottom: 5px">Sign in to vote or add a comment</span>
          {% endif %}
          {% include "/website/jurisdictions/ahj_answer_votes.jinja" %}
          {% if user.is_superuser == 1 and answer['approval_status'] != 'A' %}
            <div>
              <input id="approve_this_value_{{answer['id']}}"
                     type="button"
                     class="smallbutton approve_this_value"
                     value="Approve this {{question['terminology']}}"
                     data-id="{{answer['id']}}"
                     data-questions_terminology="{{question['terminology']}}">
            </div>
          {% endif %}
        </div>
      </div>
      <div class="cssTable valhis_box" id="validation_history_div_{{answer['id']}}" style="display: none;"></div>
      {% if answer['creator_id'] == user.id and answer['approval_status'] == 'P' %}
        <div class="cssTable">
          <div class="cssCell">
            <div id="qa_answer_{{answer['id']}}_edit" class="suggestion_edit_box" style="display:none">
              <form id="form_edit_{{answer['id']}}"
                    name="name_edit_{{answer['id']}}"
                    action="."
                    method="post"
                    accept-charset="utf-8">
                <input type="hidden" name="ajax" value="suggestion_edit_submit" />
                <input type="hidden" name="jurisdiction_id" value="{{jurisdiction.id}}" />
                <input type="hidden" name="question_id" value="{{answer['question_id']}}" />
                <input type="hidden" name="answer_id" value="{{answer['id']}}" />
                <div id="qa_{{answer['id']}}_edit_fields"></div>
                <div>
                  <input type="submit"
                         name="save_edit_{{answer['id']}}"
                         value="Save"
                         id="save_edit_{{answer['id']}}"
                         class="smallbutton" title="">
                  <input type="button"
                         name="Cancel cancelEdit" value="Cancel"
                         id="cancel_edit_{{answer['id']}}"
                         class="smallbutton"
                         onClick="controller.closeSuggestionEditAnswer('{{answer['id']}}');"
                         title="">
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
