{% extends "/website/jurisdictions/AHJ_data.jinja" %}
{% block category_content %}
  {% if cqa | length == 0 %}
    {% if category == 'favorite_fields' %}
      <div class="ahj_page_message">This tab displays your favorite data
      fields. This allows you to easily track the permitting
      requirements that you care about. Adding a field to the favorites
      tab is easy.
        <img style="border:1px blue solid;margin:20px;"
             src="{{static('images/favorites_quirks_howtos.png')}}"
             alt="favorites_quirks_howtos">
      </div>
    {% elif category == "quirks" %}
      <div class="ahj_page_message">This tab displays quirky permitting
      requirements. No one has marked one of the requirements as a
      quirk, but it is easy to do.
        <img style="border:1px blue solid;margin:20px;float:left;"
             src="{{static('images/favorites_quirks_howtos.png')}}"
             alt="favorites_quirks_howtos">
      </div>
    {% elif category == "attachments" %}
      <div class="ahj_page_message">This tab displays answers with
      attachments. No attachments have been uploaded yet.</div>
    {% elif category == "all_info" %}
      <div class="ahj_page_message">No one has entered in data for this
      jurisdiction yet. Uncheck the checkbox above to see all data
      fields.</div>
    {% else %}
      <div class="ahj_page_message">No one has entered in data for this
      {{category}} category yet. Uncheck the checkbox above to see all
      data fields.</div>
    {% endif %}
  {% endif %}

  {% for category_id in cqa %}
    <div class="ahj_category" data-debug-category-id="{{category_id}}">
      {# display the new category here #}
      <div class="ahj_category_header">
        <span class="twisty"></span>
        {{ cqa[category_id]['cat_description'] | capitalize }}
        {% if user.is_authenticated() %}
          <input type="button"
                 id="create_custom_field_btn_{{category_id}}"
                 name="create_custom_field_btn"
                 value="Create a custom field..."
                 class="smallbutton create_custom_field_btn"
                 data-jurisdiction_id="{{jurisdiction.id}}"
                 data-category_id="{{category_id}}"
                 data-current_category="{{category}}"/>
        {% endif %}
      </div>

      <div class="ahj_category_body">
        {% for question_id in cqa[category_id]['sorted_question_ids'] %}
          <div data-debug-question-id="{{question_id}}" class="question-container">
            <div id="div_question_content_{{question_id}}" class="question-border">
              {% with question = cqa[category_id]['questions'][question_id] %}
                {% include 'website/jurisdictions/AHJ_cqa_qa.jinja' %}
              {% endwith %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  {% endfor %}
{% endblock %}
