{% extends "/website/jurisdictions/AHJ.html" %}
    

<!-- template jurisdiction_state_browse.html -->


{% block body %}

		<div id="u-city">
            
            <div id="u-city-top">
            {% include "/website/accounts/sign_in.html" %}  
            </div>
			<div id="u-city-des" style="width:100%;">
		
            {% if jurisdiction.jurisdiction_type == 'CONP' %}
				This locality does not handle solar permits.
            {% elif jurisdiction.jurisdiction_type == 'CINP' %}
                This locality does not handle solar permits.
            {% else %}
                This is an unincorporated locality.
            {% endif %}
{% if parent_jurisdiction !=None %}
                <p>Solar permitting requirements for {{jurisdiction.get_jurisdiction_display('title')}} are likely governed by 
                        <a href="/jurisdiction/{{parent_jurisdiction.name_for_url}}/" title="View {{ parent_jurisdiction.name | title }} {{parent_jurisdiction.get_county_equivalent_name() | title }} ">{{ parent_jurisdiction.show_jurisdiction()}}</a>.
                </p>
                
                <p>See something wrong with this page? OR is this AHJ wrongly categorized? <a id="ahj_send_feedback" style="" href="#">Click here to let us know</a>.</p>

{% endif %}
			</div>
{% if request.user.is_authenticated() %}
			<div id="u-city-comments">
			<a class="mainbutton" href="#" id="ahj_create_jurisdiction_ucomment" >Add a new comment...</a>
			<ul class="ul-level-1">
				{% include '/website/blocks/ucomment_list.html' %}
			</ul>
			</div>
{% endif %}
		</div>


<div class="bottomclearboth"></div>
{% endblock %}