{% extends "base.html" %}
    
<!-- template jurisdiction_state_browse.html -->

{% block forejs %}
	<script src="/media/js/raphael.js"></script>
	<script src="/media/js/color.jquery.js"></script>
	<script src="/media/js/jquery.usmap.js"></script>
{% endblock %}


{% block title %}Browse Solar Permitting Requirements by State{% endblock %}


{% block page_title %}Browse Solar Permitting Requirements by State{% endblock %}


{% block body %}


	<div id="us_states_map" style="width:760px; height:521px; margin: 0 auto 0 auto;">
		<form id="jurisdiction_browse" name="jurisdiction_browse" action="/jurisdiction/browse/" method="get" accept-charset="utf-8">
			<input type="hidden" id="state" name="state" value="">
		</form>
	</div>
{% endblock %}

{% block endjs %}
<script type='text/javascript'>
function go_to_state(state)
{
    document.getElementById('state').value = state;
        
    document.getElementById('jurisdiction_browse').submit();
    return false;
}
$(function(){
    $('#us_states_map').usmap({
      'stateStyles': {
        fill: "#88a4bc", //fill: "#b5b5b5",
        stroke: "#ffffff",
        "stroke-width": 1,
        "stroke-linejoin": "round",
        scale: [1, 1]
      },
      'stateHoverStyles': {
        fill: "#2bb473",
        stroke: "#ffffff",
        scale: [1.1, 1.1]
      },
      'labelBackingStyles': {
    	fill: "#88a4bc", //fill: "#b5b5b5",
        stroke: "#ffffff",
        "stroke-width": 1,
        "stroke-linejoin": "round",
        scale: [1, 1]
      },
      
      // The styles for the hover
      'labelBackingHoverStyles': {
        fill: "#2bb473",
        stroke: "#ffffff",
      },
      'labelTextStyles': {
      fill: "#222",
        'stroke': 'none',
        'font-weight': 300,
        'stroke-width': 0,
        'font-size': '10px'
      },
      click: function(event, data) {
      	go_to_state(data.name);
      },
      mouseover:function(event,data){
      		//console.log('over :'+data.name);
      },
      showLabels: true,
    });
});


</script>

{% endblock %}
<!-- end template jurisdiction_state_browse.html -->
