{% extends "small_modal_dialog.jinja" %}


{% block body_modal_dialog %}
<span><img src="{{static('images/checkmark2.png')}}" width="30" alt="validated" /></span>
<span class="validation_history">
{% include "website/jurisdictions/validation_history.jinja" %}
</span>
{% endblock %}

{% block modal_dialog_action %}

{% endblock %}
