{% extends "base.html" %}

{% block title %}Site Map{% endblock %}

{% block body %}
<div class="contentOnlyPage">
  <span><a href="/sitemap/">Site Map</a></span> > <span><a href="/sitemap/states/">Jurisdictions by State</a></span>
  <h1>Jurisdictions in {{state_name}}</h1>
  <div>
    {% if any_exist %}
      {% for group in groups %}
        <h3>{{ group.label }}</h3>
        <div class="cssTable fullSpace sitemap">
          {% for column in group.columns %}
            <ul class="cssCell">
              {% for jurisdiction in column %}
                <li><a href="/jurisdiction/{{ jurisdiction.name_for }}">{{ jurisdiction.show_jurisdiction() }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      <div>I'm sorry, there's no data for this state yet.</div>
    {% endif %}
  </div>
</div>

{% endblock %}
