{% extends "base.html" %}

{% block title %}Site Map{% endblock %}

{% block body %}
<div class="contentOnlyPage">
	<h1>Site Map</h1>

	<h2>Home</h2>
	<div>
		<div><a href="/">SolarPermit.org</a></div>
	</div>
	
	<h2>Browse</h2>
	<div>
		<div><a href="/jurisdiction/browse/">Browse Solar Permitting Requirements by State</a></div>
	</div>
	
	<h2>About</h2>
	<div>
		<div><a href="/about/">About SolarPermit.org</a></div>
	</div>
	
	<h2>News</h2>
	<div>
		<div><a href="/news/">News</a></div>
	</div>
	
	<h2>Jurisdictions</h2>
	<div>
		<div><a href="/sitemap/states/">Jurisdictions by State</a></div>
	</div>
</div>

{% endblock %}