{% extends "base.html" %}
{% block body%}
<div style="margin-top: -77px;margin-left:97px;">
	<form id="testns" method='post'>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<label class="formlabel">Hours:</label>
	<div id="hoursdiv"><div style=""><a onclick="controller.postRequest('.', {ajax: 'editmode', formtype: 'text', name: 'hours', value: '', div: 'hoursdiv', help: '', csrfmiddlewaretoken: '{{csrf_token}}'});" href='#'>No info available yet</a>&nbsp;&nbsp;&nbsp;<img width="12"src="/media/images/edit.png" alt="edit" >&nbsp;click to edit</div></div>
	<br>
	<label class="formlabel">Phone number:</label>
	<div id="phonediv"><div style=""><a onclick="controller.postRequest('.', {ajax: 'editmode', formtype: 'text', name: 'phone', value: '', div: 'phonediv', help: 'Example:(555)555-5555', csrfmiddlewaretoken: '{{csrf_token}}'});" href='#'>No info available yet</a>&nbsp;&nbsp;&nbsp;<img width="12"src="/media/images/edit.png" alt="edit" >&nbsp;click to edit</div></div>
	<br>
	<input type="submit" value="save"> <input type="submit" value="cancel">
	</form>
</div>
{% endblock%}


{% block endjs %}

<script type='text/javascript'>
$(document).ready(function() {
	$("#testns").validate({
		event:'submit',
		 rules: {
			  hours: {
				  required: function() {
					return ($('#id_hours').val()=="")?true:false;
				  }		
			  },
			  phone:{
			  	  phoneUS: true
			  }
		 },
		 messages:{
		 	hours: '<img width="16" src="/media/images/pending-icon.png" title="need this field." alt="need this field" />',
		 	phone: '<img width="16" src="/media/images/pending-icon.png" title="Please specify a valid phone number." alt="Please specify a valid phone number." />'
		 }
	});
});
</script>
{% endblock %}