{% extends "base.html" %}
{% block title %}{% endblock %}

{% block forestyle %}
<style>
        table, td, th {
                max-width: 960px;
                text-align:left;
                font-size: 14px;
                border-top: 1px solid #bdbdbd;
                border-right: 1px solid #bdbdbd;
        }
        .data_table {
                min-width: 320px;
        }
        td, th {
                padding: 4px;
                border: 1px solid #bdbdbd;
                border-top: 0 none;
                border-right: 0 none;
        }
        th {
                font-weight: normal;
        }
        td {
                text-align: right;
                color: #000;
                border-left: 2px solid #999;
        }
        .even {
                background-color: #ebf1fe;
        }
        .header_row_right {
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                text-align: right;
                color: #333;
                font-weight: bold;
        }
        .header_row {
                border-bottom: 2px solid #999;
                color: #333;
                font-weight: bold;
        }
        hr {
                border: 0;
        height: 1px;
        background: #333;
        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
        background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
        background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
        background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
        }
        .legend-dot {
          border-radius: 50%;
          width: .8em;
          height: .8em;
          display: inline-block;
          margin: .1em .4em 0 .2em;
          background-color: transparent;
        }
        .report {
          max-width: 320px;
          margin-left: 25px;
          float: left;
        }
        .graph {
          width: 320px;
          height: 320px;
        }
</style>
{% endblock %}

{% block forejs %}
{% compress js %}
<script src="/media/js/raphael.js"></script>
<script src="/media/js/g.raphael.js"></script>
<script src="/media/js/g.pie.js"></script>
<script src="/media/js/g.bar.js"></script>
{% endcompress %}
{% endblock %}

{% block body %}
  <div class="contentOnlyPage">
    <h1>{{ report_name }} - Field Answer Reporting</h1>
    {% if question_instruction %}
      <hr/>
      <h2>Question's Instruction: {{ question_instruction }}</h2>
    {% endif %}
    <hr/>
    <h3>Current Approved Values in the Database</h3>
    {% for report in reports %}
      <div class="report" id="report{{report.idx}}">
        <div class="graph" id="graph{{report.idx}}"></div>
        <table class="data_table">
          <tr class="even">
            <th class="header_row">Value</th>
            <th class="header_row_right">Jurisdictions</th>
          </tr>
          {% for row in report.table %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
              <th><span class="legend-dot"></span>{{ row['key'] }}</th>
              <td>{{ row['value'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block endjs %}
  <script>
    var reports = {{reports_json}};
    function select(field) {
      return function (elem) {
               if (elem.key != 'Total')
                 return elem[field];
             };
    }
    function defined(val) {
      return typeof val != "undefined"
    }
    function draw_graphs() {
      $.each(reports,
             function (idx, report) {
               var values = report.table.map(select("value")).filter(defined),
                   sum = values.reduce(function (a, b) { return a+b; });
               if (sum <= 0)
                 return;
               var r = Raphael("graph"+ idx),
                   pie = r.piechart(160, 160, 150,
                                    values),
                   paths = [];
               $.each(pie.series,
                      function(k, v) {
                        if (v.value)
                          paths[v.value.order] = v.node;
                      })
               $("#report"+ idx +" .legend-dot").each(function (n, elem) {
                                                        if ($(elem).parent().text() != "Total") {
                                                          $(elem).css("background-color",
                                                                      $(paths[n]).css("fill"));
                                                          console.log($(paths[n]).css("fill"))
                                                        }
                                                      });
             });
    }
    $(document).ready(draw_graphs())
  </script>
{% endblock %}
