
<form method="post" action="." accept-charset="utf-8" id="attach-form">
<input type="hidden" name="ajax" value="save_attachements">
<input type="hidden" name="answer_id" value="{{answer1.id}}">
<div class="field">
                <p><b>Add Attachement:</b> We accept <b>.pdf</b> files</p>
                <div id="drawing_file">
                	<div id="file-uploader"></div>
                	<input id="filename" name="filename" type="hidden" value=""/>
	                <input id="file_store_name" name="file_store_name" type="hidden" value=""/>
                	<!--a href="">Select File to Attach</a-->
                </div>
                </div>
<input class="attachement_save" data-answerid="{{{{answer1.id}}}}" type="button" title="" class="smallbutton" id="save_{{answer1.id}}" value="Save" name="Save">
<input class="attachement_cancel" data-answerid="{{{{answer1.id}}}}" type="button" title="" class="smallbutton" id="cancel_{{answer1.id}}" value="Cancel" name="Cancel">
</form>