{# this is kinda dumb, but since this is the only url that has alternatives it'll be fine #}
{% if '/jurisdiction/' in request.META.get('PATH_INFO') and jurisdiction %}
    <link rel="canonical" href="{{url('ahj_by_name', jurisdiction.name_for_url)}}">
{% else %}
    {% if request.META.get('QUERY_STRING') %}
        <link rel="canonical" href="http://{{request.META.get('HTTP_HOST')}}{{request.META.get('PATH_INFO')}}?{{request.META.get('QUERY_STRING')}}">
    {% else %}
        <link rel="canonical" href="http://{{request.META.get('HTTP_HOST')}}{{request.META.get('PATH_INFO')}}">
    {% endif %}
{% endif %}
    
