{% with level = (level or 0) + 1 %}
  <ul class="ul-level-{{level}}">
    {% for c in comments %}
      {% if userview != None and c.id <= userview_last_comment %}
        <li data-comment-id="{{c.id}}">
        <h4>
      {% else %}
        <li class="li-unread" data-comment-id="{{c.id}}">
        <h4> <img width="12" height="12" src="{{static('images/unread-comment.png')}}" alt="unread comments">
      {% endif %}
        Posted by {{c.user.get_profile().get_display_name()}} {{c.get_comment_time()}}</h4>
        <div id="comment_{{c.id}}">
        {% if c.approval_status != 'F' and c.approval_status != 'R' %}
          <p>{{c.comment}}</p>
          <div id="button-div-{{c.id}}">
            <a class="smallbutton commentReplayBtn" data-cid="{{c.id}}" href="#">Reply</a>
            <a class="smallbutton commentFlagBtn" data-cid="{{c.id}}" href="#">Flag</a>
          </div>
        {% else %}
          <p>This comment had been flagged as inappropriate and is hidden pending review.</p>
        {% endif %}
        </div>
        {% if c.get_son_comments()|length > 0 %}
          {% with comments = c.get_son_comments(),
                  level = level + 1%}
            {% include "/website/blocks/comments_list.jinja" %}
          {% endwith %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endwith %}
