<form id="id_reply_comment" name="create_comment" action="/jurisdiction_comment/">
	<input type="hidden" name="ajax" value="comment_create_submit" />
	<input type="hidden" name="jurisdiction_id" value="{{comment.jurisdiction.id}}" />
	<input type="hidden" name="comment_type" value="{{comment.comment_type}}" />
	<input type="hidden" name="parent_comment" value="{{comment.id}}" />
	<input type="hidden" name="entity_name" value="{{comment.entity_name}}" />
	<input type="hidden" name="entity_id" value="{{comment.entity_id}}" />
	<div class="form_field">
            <div class="field">
                <textarea rows="4" cols="60" name="comment" id="id_comment" class="required"></textarea>
            </div>        
    </div>
  	<input id="reply_comment_btn" type="submit" class="smallbutton" value="Post reply">
	<input type="button" id="id_cancel_create" class="smallbutton"  title="Cancel" value="Cancel">
</form>