		<div id="system_message" style="display: none;">
			<div>
				<span style="display:table-cell;vertical-align:middle;">
					<img id="system_message_type_img" src="{{static('images/system_message_type_.png')}}" style="vertical-align: middle; width: 32px; height: 32px;" width="32" height="32" alt="message" />
					<span id="message_text"></span>
				</span>
			</div>
		</div>
