
<h2>Terms of Use</h2>
    <li>Overview
        <ol >
            <li>These Terms of Use ("TOU") tell you about therelationship of Clean Power Finance, Inc. ("CPF", "we" or "us"), (which is the primary sponsor, developer and host of the National Solar Permitting Database project ("NSPD" or the "Project"), funded in part by the U.S. Department of Energy under Assistance Grant No.DE-EE0005349),to you as a user, and the rights and responsibilities that guide us both. We host publically available informational content, most of which is contributed and made possible by users like you. Initially, our team will help populate the database by contacting Authorities Having Jurisdictions ("AHJs") and soliciting information. However, after this initial phase, we do not plan on contributing, monitoring, or deleting content. This means that editorial control is in the hands of you and your fellow users who create and manage the content. We merely host this content.</li>
            <li>This community - the network of users who are constantly contributing to the NSPD - are the principal means through which the goals of the mission are achieved. The community contributes to and helps govern the NSPD. You are welcome to join as a contributor, editor, or author.</li>
            <li>Please be aware that you are legally responsible for all of your contributions, edits, and re-use of NSPD content under the laws of the United States of America and other applicable laws (which may include the laws where you live or where you view or edit content).</li>
            <li>This means it is important that you use caution when posting content. In light of this responsibility, we have some rules about what you cannot post, most of which is either for your own protection or for the protection of other users like yourself. Please keep in mind that the content we host is for general informational purposes only.</li>
        </ol>
    </li>
    <li>Our Role
        <ol >
            <li>Our role is to host information about the residential solar PV permitting process. We act mainly as a hosting service, maintaining the infrastructure and organizational framework that allows our users to contribute and edit content themselves. We will, however, initially take on the roles of contributor, editor, and moderator to ensure the success of the NSPD. This will change as the community becomes self-sustaining. We guarantee no timeline, nor do we guarantee that we will relinquish ouraforementioned roles.</li>
            <li>You are responsible for your own actions. You are legally responsible for your edits and contributions to the NSPD, so for your own protection you should exercise caution and avoid contributing any content that may result in criminal or civil liability under any applicable laws. For clarity, applicable law includes at least the laws of the United States of America. Although we may not agree with such actions, we warn editors and contributors that authorities may seek to apply other country laws to you, including local laws where you live or where you view or edit content. We cannot offer any protection, guarantee, immunity or indemnification.</li>
        </ol>
    </li>
    <li>Privacy Policy
        <ol >
            <li>We ask that you review the terms of ourPrivacy Policy, so that you are aware of how we collect and use your information. Although our services are primarily used by people in the United States of America, users in other countries have access to view, contribute, and edit data on the site. Therefore, personal information that we collect may be stored and processed in the United States of America or any other country in which we or our agents maintain facilities. By using our services, you consent to any such transfer of information outside your country.</li>
        </ol>
    </li>
    <li>Content we Host
        <ol >
            <li>Because we provide a wide array of content that is produced or gathered by fellow users, you may encounter material that you find erroneous, misleading, mislabeled, or otherwise objectionable. We therefore ask that you use common sense and proper judgment when using our services.</li>
            <li>This content is presented for general informational purposes only. It should not be taken as professional advice. Please seek independent professional counseling from someone who is licensed or qualified in the applicable area in lieu of acting on any information, opinion, or advice contained on the NSPD.</li>
        </ol>
    </li>
    <li>Refraining from Certain Activities
        <ol >
            <li>The content hosted on the NSPD is made possible because of the community of users like you who collaborate to write, edit, and curate the content. We welcome your participation in this community. We encourage you to be civil and polite in your interactions with others in the community, to act in good faith, and to make edits and contributions aimed at furthering the mission of the NSDP.</li>
            <li>Certain activities, whether legal or illegal, may be harmful to other users and violate our rules, and some activities may also subject you to liability. Therefore, for your own protection and for that of other users, you may not engage in such activities on our sites. These activities include:
                <ol >
                    <li>Harassing and Abusing Others
                        <ol >
                            <li>Engaging in harassment, threats, stalking, spamming, or vandalism; and</li>
                            <li>Transmitting chain mail, junk mail, or spam to other users.</li>
                        </ol>
                    </li>
                    <li>Violating the Privacy of Others
                        <ol >
                            <li>Infringing the privacy rights of others under the laws of the United States of America or other applicable laws</li>
                            <li>Soliciting personally identifiable information for purposes of harassment, exploitation, violation of privacy, or any promotional or commercial purpose</li>
                        </ol>
                    </li>
                    <li>Engaging in False Statements, Impersonation, or Fraud
                        <ol >
                            <li>Intentionally or knowingly posting content that constitutes libel or defamation;</li>
                            <li>With the intent to deceive, posting content that is false or inaccurate;</li>
                            <li>Attempting to impersonate another user or individual, misrepresenting your affiliation with any individual or entity, or using the username of another user with the intent to deceive; and</li>
                            <li>Engaging in fraud.</li>
                        </ol>
                    </li>
                    <li>Committing Infringement
                        <ol >
                            <li>Infringing copyrights, trademarks, patents, or other proprietary rights under applicable law.</li>
                        </ol>
                    </li>
                    <li>Engaging in Disruptive and Illegal Misuse of Facilities
                        <ol >
                            <li>Disrupting the services by placing an undue burden on the NSPD website or the networks or servers connected with the NSPD website;</li>
                            <li>Knowingly accessing, tampering with, or using any of our non-public areas in our computer systems without authorization; and</li>
                            <li>Probing, scanning, or testing the vulnerability of any of our technical systems or networks unless all the following conditions are met:
                                <ol >
                                    <li>such actions do not unduly abuse or disrupt our technical systems or networks;</li>
                                    <li>such actions are not for personal gain (except for credit for your work);</li>
                                    <li>you report any vulnerabilities to the NSPD developers;</li>
                                    <li>you do not undertake such actions with malicious or destructive intent.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Using the Site
        <ol >
            <li>Eligibility
                <ol >
                    <li>To access or use the Site, you must be 18 years or older and have the requisite power and authority to enter into these Terms of Use (TOU). </li>
                </ol>
            </li>
            <li>Permissions to Use the Site
                <ol >
                    <li>We grant you permission to use the Site subject to the restrictions in these Terms. YOUR USE OF THE SITE IS AT YOUR OWN RISK, INCLUDING THE RISK THAT SOME OF THE CONTENT MAY BE INACCURATE OR UNVERIFIED.</li>
                </ol>
            </li>
            <li>Site Availability
                <ol >
                    <li>The Site may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability.</li>
                </ol>
            </li>
            <li>User Accounts
                <ol >
                    <li>You must create an account and provide certain information about yourself in order to use some of the features that are offered through the Site. You are responsible for maintaining the confidentiality of your account password. You are also responsible for all activities that occur in connection with your account. You agree to notify us immediately of any unauthorized use of your account. We reserve the right to close your account at any time for any or no reason.</li>
                    <li>YOUR ACCOUNT IS FOR YOUR PERSONAL, NON-COMMERCIAL USE ONLY.In creating it, we ask that you provide complete and accurate information about yourself to bolster your credibility as a contributor to the Site. You may not create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple accounts.If you use a pseudonym as a username, take care to note that others may still be able to identify you if, for example, you include identifying information in your reviews, use the same account information on other sites, or allow other sites to share information about you with the NSPD. Please read our Privacy Policy for more information.</li>
                </ol>
            </li>
            <li>Password Security
                <ol >
                    <li>You are responsible for safeguarding your own password and should never disclose it to any third party.</li>
                </ol>
            </li>
            <li>Management of Websites
                <ol >
                    <li>The community has the primary role in creating and enforcing policies applying to the NSPD. We rarely intervene in community decisions about policy and its enforcement. In an unusual case, the need may arise, or the community may ask us, to address an especially problematic user because of significant Project disturbance or dangerous behavior. In such cases, we reserve the right, but do not have the obligation to:
                        <ol >
                            <li>Investigate your use of the service (a) to determine whether a violation of these Terms of Use or other applicable law or policy has occurred, or (b) to comply with any applicable law, legal process, or appropriate governmental request;</li>
                            <li>Detect, prevent, or otherwise address fraud, security, or technical issues or respond to user support requests;</li>
                            <li>Refuse, disable, or restrict access to the contribution of any user who violates these Terms of Use;</li>
                            <li>Ban a user from editing or contributing or block a user's account or access for actions violating these Terms of Use, including repeat copyright infringement;</li>
                            <li>Take legal action against users who violate these Terms of Use (including reports to law enforcement authorities); and</li>
                            <li>Manage otherwise the NSPDwebsites in a manner designed to facilitate their proper functioning and protect the rights, property, and safety of ourselves and our users, licensors, partners, and the public.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Contributions and Licensing of Content
        <ol >
            <li>Content Rights In General.To grow the commons of free knowledge and free culture, all users contributing to the NSPD are required to grant broad permissions to the general public to re-distribute and re-use their contributions freely, so long as the information is not proprietary, or, if it is proprietary, that theyhave the rights to the information and that theyagree, represent and warrant that information can be re-used and re-distributed. In keeping with our goal of providing free information to the widest possible audience, we require that when necessary all content submitted by you (collectively "Your Content") be licensed so that it is freely reusable by anyone who cares to access it.In addition, you agree to the following licensing requirements:
                <ol >
                    <li>When you submit text to which you hold the copyright, you agree to license it to the public under the terms of a Modified (3-clause) BSD License so that it may be released with the source code of the project.</li>
                    <li>Non-text media on the NSPD are available under a variety of different licenses that support the general goal of allowing unrestricted re-use and re-distribution. When you contribute non-text media, you agree, represent and warrant that non-text can be re-used and re-distributed. If you have reason for uncertainty about whether a particular item of non-text media meets this requirement, you are encouraged to provide a text description, accompanied by a link or URL to the source instead.</li>
                    <li>When you submit Your Content, you agree that your contribution of Your Content will be publicly attributed to you, using your username.</li>
                    <li>Except as consistent with your license, you agree that you will not unilaterally revoke or seek invalidation of any license that you have granted under these Terms of Use for Your Content contributed to the NSPD, even if you terminate use of our services.</li>
                    <li>Content that is in the public domain is welcome! It is important however that you confirm the public domain status of the content under the law of the United States of America as well as the laws of any other countries as required. When you contribute content that is in the public domain, you represent and warrant that the material is actually in the public domain, and you agree to label it appropriately.</li>
                    <li>You agree, represent and warrant that Your Content that you are contributing is either in the public domain, non-proprietary, or if it is proprietary, that you have the right to distribute this information. </li>
                </ol>
            </li>
            <li>Responsibility for Your Content
                <ol >
                    <li>You alone are responsible for Your Content, and once published, it cannot always be withdrawn. You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability.You may not imply that Your Content is in any way sponsored or endorsed by the NSPD.</li>
                    <li>You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.</li>
                </ol>
            </li>
            <li>Our Right to Use your Content
                <ol >
                    <li>We may use Your Content in a number of different ways, including publicly displaying it. As such, you hereby irrevocably grant us world-wide, non-exclusive, perpetual, royalty-free, sub-licensable, transferable rights to use Your Content for any purpose. You also irrevocably grant the users of the Site and any Other Media the right to access Your Content in connection with their use of the Site and any Other Media. Finally, you irrevocably waive, and cause to be waived, against CPF, the NSPDand its users any claims and assertions of moral rights or attribution with respect to Your Content. By "use" we mean use, copy, publicly perform or display, distribute, modify, translate, and create derivative works of Your Content.</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Third-party Websites and Resources
        <ol >
            <li>You are solely responsible for your use of any third-party websites or resources. Although the NSPD may contain links to third-party websites and resources, we do not endorse and are not responsible or liable for their availability, accuracy, or the related content, products, or services (including, without limitation, any viruses or other disabling features), nor do we have any obligation to monitor such third-party content.</li>
        </ol>
    </li>
    <li>Disputes and Jurisdiction
        <ol >
            <li>We hope that no serious disagreements arise involving you, but, in the event there is a dispute, we encourage you to seek resolution through the dispute resolution procedures or mechanisms provided by the NSPD. If you seek to file a legal claim against us, you agree to file and resolve it exclusively in a state or federal court located in San Francisco County, California. You also agree that the laws of the State of California and, to the extent applicable, the laws of the United States of America will govern these Terms of Use, as well as any legal claim that might arise between you and us (without reference to conflict of laws principles). You agree to submit to the personal jurisdiction of, and agree that venue is proper in, the courts located in San Francisco County, California, in any legal action or proceeding relating to us or these Terms of Use.</li>
            <li>To ensure that disputes are dealt with soon after they arise, you agree that regardless of any statute or law to the contrary, any claim or cause of action you might have arising out of or related to use of our services or these Terms of Use must be filed within the earlier of (i) the applicable statute of limitations or, (ii) one (1) year after the pertinent facts underlying such claim or cause of action could have been discovered with reasonable diligence (or be forever barred).</li>
        </ol>
    </li>
    <li>Disclaimers
        <ol >
            <li>We do our best to provide educational and informational content to a very wide audience, but your use of our services is at your sole risk. WE PROVIDE THESE SERVICES ON AN "AS IS" AND "AS AVAILABLE" BASIS, AND WE EXPRESSLY DISCLAIM ALL EXPRESS OR IMPLIED WARRANTIES OF ALL KINDS, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTY THAT OUR SERVICES WILL MEET YOUR REQUIREMENTS, BE SAFE, SECURE, UNINTERRUPTED, TIMELY, ACCURATE, OR ERROR-FREE, OR THAT YOUR INFORMATION WILL BE SECURE.</li>
            <li>We are not responsible for the content, data, or actions of third parties, and you release us, our directors, officers, employees, and agents from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have against any such third parties. No advice or information, whether oral or written, obtained by you from us or through or from our services creates any warranty not expressly stated in these Terms of Use.</li>
            <li>Any material downloaded or otherwise obtained through your use of our services is done at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material. You agree that we have no responsibility or liability for the deletion of, or the failure to store or to transmit, any content or communication maintained by the service. We retain the right to create limits on use and storage at our sole discretion at any time with or without notice.</li>
            <li>The NSPD is in part a work sponsored by an agency of the United States Government. Neither the United States Government nor any agency thereof, nor any of their employees, makes any warranty, express or implied, or assumes any legal liability or responsibility for the accuracy, completeness, or usefulness of any information, apparatus, product, or process disclosed, or represents that its use would not infringe privately owned rights. Reference herein to any specific commercial product, process, or service by trade name, trademark, manufacturer, or otherwise does not necessarily constitute or imply its endorsement, recommendation, or favoring by the United States Government or any agency thereof. The views and opinions of authors expressed herein do not necessarily state or reflect those of the United States Government or any agency thereof.</li>
            <li>Some states or jurisdictions do not allow the types of disclaimers in this section, so they may not apply to you either in part or in full depending on the law.</li>
        </ol>
    </li>
    <li>Limitation on Liability
        <ol >
            <li>We will not be liable to you or to any other party for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, regardless of whether we were advised of the possibility of such damage. In no event shall our liability exceed one thousand U.S. dollars (USD 1000.00) in aggregate. In the case that applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, the above limitation or exclusion may not apply to you, although our liability will be limited to the fullest extent permitted by applicable law.</li>
        </ol>
    </li>
    <li>Other Terms
        <ol >
            <li>These Terms of Use do not create an employment, agency, partnership, or joint venture relationship between you and us, CPF. If you have not signed a separate agreement with us, these Terms of Use are the entire agreement between you and us. If there is any conflict between these Terms of Use and a signed written agreement between you and us, the signed agreement will control.</li>
            <li>You agree that we may provide you with notices, including those regarding changes to the Terms of Use, by email, regular mail, or postings on the NSPDwebsites.</li>
            <li>If in any circumstance, we do not apply or enforce any provision of these Terms of Use, it is not a waiver of that provision.</li>
            <li>You understand that, unless otherwise agreed to in writing by us, you have no expectation of compensation for any activity, contribution, or idea that you provide to us, the community, or the NSPD.</li>
        </ol>
    </li>
