{% for c in comments %}
  <li id="li-{{c.id}}" data-comment-id="{{c.id}}">
    <h4> Posted by {{c.user.get_profile().get_display_name()}} {{c.get_comment_time()}}</h4>
    <div id="comment_{{c.id}}">
      {% if c.approval_status != 'F' and c.approval_status != 'R' %}
        <p>{{c.comment}}</p>
        <div id="button-div-{{c.id}}">
          <a class="smallbutton ucommentReplyBtn" href="#" data-cid={{c.id}}>Reply</a>
          {% if user.id == c.user.id %}
            <a class="smallbutton ucommentDeleteBtn" href="#" data-cid={{c.id}}>Delete</a>
          {% endif %}
          <a class="smallbutton ucommentFlagBtn" href="#" data-cid={{c.id}}>Flag</a>
        </div>
      {% else %}
        <p>This comment had been flagged as inappropriate and is hidden pending review.</p>
      {% endif %}
    </div>
    {% if c.get_son_comments()|length> 0 %}
      {% with comments = c.get_son_comments() %}
        {% include "/website/blocks/comments_list.jinja" %}
      {% endwith %}
    {% endif %}
  </li>
{% endfor %}
