			<div class="form_field" >  
				<div class="label">{{question_label}}:</div>           
                <div class="field">
                   <input type="radio" name="field_available" id="field_available_no_{{question_id}}" value="no" {% if available == 'no' or available == 'No' %} checked {% endif %}   >Not available
                   <br/>
                   <input type="radio" name="field_available" id="field_available_yes_{{question_id}}" value="yes" {% if available == 'yes' or available == 'Yes' %} checked {% endif %}   >Available
                </div>                              
            </div>
            
            <div id="available_{{question_id}}" {% if available == 'yes' or available == 'Yes' %} style="display:block;"{% else %} style="display:none;" {% endif %}>
			   <div class="form_field">            
	            	<div class="label">Url:</div>     
	            	<div class="field">
	            		<input type="text" name="field_url" id="field_url_{{question_id}}" value="{{url}}" class="required" size="50" maxLength="200" >
	            	</div>
		 			<div class="field_help_text">
						Please enter a valid URL
					</div>
					<div class="error_div">
						{{msg_error}}
					</div>       
				</div>    	
            </div>
            
			<div class="field_help_text" style="padding-bottom:5px;">
				{{instruction}}
			</div>              