    <div class="form_field" >
        <div class="field"><input type="password" name="{{name}}" id="{{id}}" value="" class="required" style="width:210px" maxlength="75" minlength="8"> </div>
        <div class="field_help_text">Minimum of 8 characters</div>
        <div class="error_div"></div>
    </div>
    
    <div class="form_field" >
        <div class="label">Verify password:</div>
        <div class="field"><input type="password" name="verify_password" id="verify_password" value="" class="required" equalTo="#{{id}}" minlength="8" maxlength="75" style="width:210px"/> </div>
        <div class="error_div"></div>
    </div>