			<div class="form_field" >  
				<div class="label">{{question_label}}:</div>           
                <div class="field">
                   <input type="radio" name="field_apply" id="field_apply_in_person_{{question_id}}" value="in person" {% if apply == 'in person' or apply == 'In person' %} checked {% endif %}   >Must request in person
                   <br/><input type="radio" name="field_apply" id="field_apply_remotely_{{question_id}}" value="remotely" {% if apply == 'remotely' or apply == 'Remotely' %} checked {% endif %}   >Can request remotely
                </div>                              
            </div>

			<div id="remotely_{{question_id}}" {% if apply == 'remotely' %} style="display:block;"{% else %} style="display:none;" {% endif %}>

					<div class="form_field">			
						<div class="field">
							<input type="checkbox" name="field_request_by_phone" id="field_request_by_phone_{{question_id}}" value="yes" {% if request_by_phone == 'yes' %}checked{% endif %} >Can request via phone
							<span id="phone_{{question_id}}" {% if request_by_phone == 'yes' or request_by_phone == 'Yes' %} style="display:block;"{% else %} style="display:none;" {% endif %}>
								&nbsp;&nbsp;Phone: <input type="text" name="field_phone" id="field_phone" value="{{phone}}" class="required phoneUS" style="width:210px" maxLength="64" >	  							
							</span>
						</div>			
						<div class="error_div"></div> 
					</div>	
					<div class="form_field">					
						<div class="field">
							<input type="checkbox" name="field_request_by_fax" id="field_request_by_fax_{{question_id}}" value="yes" {% if request_by_fax == 'yes' %}checked{% endif %}  >Can request via fax
							<span id="fax_{{question_id}}" {% if request_by_fax == 'yes' or request_by_fax == 'Yes' %} style="display:block;"{% else %} style="display:none;" {% endif %}>
								&nbsp;&nbsp;Fax: <input type="text" name="field_fax" id="field_fax" value="{{fax}}" class="required phoneUS" style="width:210px" maxLength="64" >	  							
							</span>	
						</div>			
						<div class="error_div"></div> 
					</div>
					<div class="form_field">						
						<div class="field">
							<input type="checkbox" name="field_request_by_email" id="field_request_by_email_{{question_id}}" value="yes" {% if request_by_email == 'yes' %}checked{% endif %}  >Can request via email	
							<span id="email_{{question_id}}" {% if request_by_email == 'yes' or request_by_email == 'Yes' %} style="display:block;"{% else %} style="display:none;" {% endif %}>
								&nbsp;&nbsp;Email: <input type="text" id="email" name="field_email"  value="{{email}}" class="required email" style="width:210px" maxLength="200" >		  							
							</span>																									  
						</div>				
						<div class="error_div"></div> 
					</div>	
									
			</div>            
			<div class="field_help_text" style="padding-bottom:5px;">
				{{instruction}}
			</div>     