
            <div class="form_field" >        
                <div class="label">Average system size:</div>
                <div class="field">
                    <select name="field_value" >
                        <option value="1" {% if from_hour == "1" %}selected{% endif%}>1</option>
                        <option value="2" {% if from_hour == "2" %}selected{% endif%}>2</option>
                        <option value="3" {% if from_hour == "3" %}selected{% endif%}>3</option>
                        <option value="4" {% if from_hour == "4" %}selected{% endif%}>4</option>
                        <option value="5" {% if from_hour == "5" %}selected{% endif%}>5</option>
                        <option value="6" {% if from_hour == "6" %}selected{% endif%}>6</option>
                        <option value="7" {% if from_hour == "7" %}selected{% endif%}>7</option>
                        <option value="8" {% if from_hour == "8" %}selected{% endif%}>8</option>
                        <option value="9" {% if from_hour == "9" %}selected{% endif%} >9</option>
                        <option value="10" {% if from_hour == "10" %}selected{% endif%}>10</option>
                    </select>
                    kW
                </div>   
                <div class="field_help_text" >
                    {{instruction}}
                </div>                                               
            </div>
            
              
        