
        <div id="form_field_address" style="">
            <div class="form_field" >
                <div class="label">Utility name:</div>        
                <div class="field">
                    <input type="text" name="field_name_1" id="field_name_1_{{question_id}}" value="{{name_1}}" class="" style="width:210px" maxLength="200" >
                </div>   
                <div class="error_div"></div>               
            </div>     
            <div class="form_field" >
                <div class="label">Utility website:</div>        
                <div class="field">
                    <input type="text" name="field_link_1" id="field_link_1_{{question_id}}" value="{{link_1}}" class="required" size="50" maxLength="200" >
                </div>  
            <div class="field_help_text">
                You must enter a link to the utility's website to complete this field.  If they have a page dedicated to solar permitting, we recommend entering that url here.
            </div>                
                <div class="error_div"></div>                            
            </div>   
        </div>               

        