			{% if answer_content.get('free-form') != None and answer_content.get('free-form') != '' %} 
			<div >
				{{answer_content.get('free-form') | replace('\n', '<br/>')}}

			</div>
			
			{% else %}
			
			<div  >         
				{% if answer_content.get('available') == 'no' or answer_content.get('available') == 'No' %}
					Not available
				{% elif answer_content.get('available') == 'yes'  or answer_content.get('available') == 'Yes' %}	
                    Available
                {% elif answer_content.get('available') == 'yes, with exceptions' or answer_content.get('available') == 'Yes, with exceptions'  %}	
                   Available with exceptions
                {% else %}
                	TBD
                {% endif %}
            </div>
            
            
			{% if answer_content.get('available') == 'yes, with exceptions' or answer_content.get('available') == 'Yes, with exceptions'  %}	
            
			<div >
			{% if answer_content.get('depends_on_system_rating') == 'yes' or answer_content.get('depends_on_system_rating') == 'Yes'   %}
				Depends on system rating: {{answer_content.get('equality')}}  {{answer_content.get('kW')}} by {{answer_content.get('system_rating_method')}}
			{% endif %}
			</div>
			            
            <div >
            {% if answer_content.get('note') != None %}
            	{{answer_content.get('note') | replace('\n', '<br/>')}}
            {% endif %}
            </div>
            
            {% endif %}           
            

			{% endif %}		            