		   
			{% if answer_content.get('free-form') != None and answer_content.get('free-form') != '' %} 
			<div >
				{{answer_content.get('free-form') | replace('\n', '<br/>')}}

			</div>
			
			{% else %}
			
			<div>
                 {{answer_content.get('value') | replace('\n', '<br/>') | capitalize }}
                 {% if this_question.field_suffix != None %}
                 {{this_question.field_suffix}}
                 {% endif %}
                             
            </div>

			{% endif %}		           