			{% if answer_content.get('free-form') != None and answer_content.get('free-form') != '' %} 
			<div >
				{{answer_content.get('free-form') | replace('\n', '<br/>')}}

			</div>
			
			{% else %}
			
			<div  >         
				{% if answer_content.get('time_window') == "0" %}
					Exact Time Given
				{% elif answer_content.get('time_window') == "2" %}	
                    2 hours (or less)
                {% elif answer_content.get('time_window') == "4" %}
                   Half Day (2 to 4 hours)
                {% elif answer_content.get('time_window') == "8" %}
                   Full Day (greater than 4 hours)
                {% else %}
                	TBD ({{answer_content.get('time_window')}})
                {% endif %}
            </div>
            
            <div >
            {% if answer_content.get('note') != None %}
            	{{answer_content.get('note') | replace('\n', '<br/>')}}
            {% endif %}
            </div>
            
			{% endif %}		            
{#
			{% if answer_content.get('free-form') != None and answer_content.get('free-form') != '' %} 
			<div >
				{{answer_content.get('free-form') | replace('\n', '<br/>')}}

			</div>
			
			{% else %}
			
			<div>
                 {{answer_content.get('from_hour')}} {{answer_content.get('from_am_pm')}} -  
				 {{answer_content.get('to_hour')}} {{answer_content.get('to_am_pm')}} 
                          
            </div>
           
			{% endif %}	
#}