<div style="padding-top:5px;">
  {% if attachment %}
    {# for attach in attachments #}
    <div>
      <a href="/media{{attachment.get('file_upload')}}" target="_blank">
        <img width="48" alt="pdf_files" src="{{static('images/pdf.png')}}">
      </a>
    </div>
    <div style="text-align: left;">
      <a href="/media{{attachment.get('file_upload')}}" target="_blank">
        {{attachment.get('file_name') | truncate(5, True)}}
      </a>
    </div>
    {# endfor #}
  {% endif %}
</div>
