		   
			{% if answer_content.get('free-form') != None and answer_content.get('free-form') != '' %} 
			<div >
				{{answer_content.get('free-form') | replace('\n', '<br/>')}}

			</div>
			
			{% else %}
			
			<div>
			{% if answer_content.get('value') != None %}
                 {{answer_content.get('value') | replace('\n', '<br/>') | capitalize }}
                 {% if current_question_field_suffix != None %}
                 {{current_question_field_suffix}}
                 {% endif %}
            {% endif %}                
            </div>

			{% endif %}		           