<!DOCTYPE html>
<html lang="en">
<!-- template base.html -->

<head>
	<title>{% block title %}{% endblock %} </title>
	<meta charset="utf-8">
{% include "website/blocks/canonical_url.html" %}

	{% block forestyle %}{% endblock %}
	<!--
	<link href="/style/website.css{{SOLARPERMIT_VERSION}}" rel="stylesheet" type="text/css" media="screen" />
	<link href="/style/main.css{{SOLARPERMIT_VERSION}}"  rel="stylesheet" type="text/css" media="screen" />
	
	<link rel="stylesheet" type="text/css" href="/js/notifybar/jquery.notifyBar.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/superfish.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/jquery.mobile.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/tooltip.css{{SOLARPERMIT_VERSION}}" />
	<link href="/style/screen.css"  rel="stylesheet" type="text/css" media="screen" />-->
	
	{% include "website/fancybox_stylesheets.html" %}
	<link rel="stylesheet" type="text/css" href="/media/style/main.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/media/js/flexcomplete/jquery.flexcomplete.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/media/style/jquery-ui-1.8.22.custom.css{{SOLARPERMIT_VERSION}}" />
	<link href="/media/style/fileuploader.css{{SOLARPERMIT_VERSION}}" rel="stylesheet" type="text/css" />	
	
	{% block forejs %}{% endblock %}
	<script type="text/javascript" src="/media/js/jquery-1.7.2.min.js{{SOLARPERMIT_VERSION}}"></script>	
	<script type="text/javascript" src="/media/js/jquery.validate.js{{SOLARPERMIT_VERSION}}"></script>
	<script type="text/javascript" src="/media/js/additional-methods.js{{SOLARPERMIT_VERSION}}"></script>
	<script type="text/javascript" src="/media/js/jquery.simplemodal.js{{SOLARPERMIT_VERSION}}"></script>
	<script type="text/javascript" src="/media/js/jquery.jscroll.custom.js{{SOLARPERMIT_VERSION}}"></script>	
	<script type="text/javascript" src="/media/js/controller.js{{SOLARPERMIT_VERSION}}"></script>
	<script type="text/javascript" src="/media/js/jquery.dajax.core.js{{SOLARPERMIT_VERSION}}"></script>
	<script type="text/javascript" src="/media/js/jquery-ui-1.8.22.custom.min.js{{SOLARPERMIT_VERSION}}"></script>
	<script type='text/javascript' src="/media/js/fileuploader.js{{SOLARPERMIT_VERSION}}"></script>	
	
	<script type='text/javascript'>
	var js_csrf = '{{csrf_token}}';	
	function set_error_class()
	{
	    document.getElementById('username').style.backgroundColor="#FCC";
	    document.getElementById('password').style.backgroundColor="#FCC"; 
	}
	
	$(document).ready(function() {
		$("#trouble_signing_in_a").click(function (){
			controller.postRequest('/account/', {ajax: 'trouble_signing_in'}); return false;
		});
			
			
		$("#form_sign_in_submit_button").click(function (){
			controller.submitForm('#form_sign_in');
			return false;
		});
	});
	</script>

</head>

<body style="">

<div id="shell" style="display:table;margin:0px auto;padding-top:5%;">
	{% block body %}
	{% endblock %}
</div>

{% include "website/footer.html" %}

{% block endjs %}{% endblock %}


{% block dialog %}
{% include "base_message_dialog.html" %}
{% include "base_info_dialog.html" %}
{% endblock %}

{% include "website/fancybox_scripts.html" %}
{% include "website/blocks/system_message.html" %}
<div id="fromServer"></div>
<div id="fancyboxformDiv"></div>
<div id="secondDialogDiv"></div>
</body>
</html>
<!-- end template base.html -->