<!DOCTYPE html>
<html lang="en">
<!-- template base.html -->

<head>
	<title>{% block title %}{% endblock %} </title>
	<meta charset="utf-8">
{% include "website/blocks/canonical_url.html" %}

	{% block forestyle %}{% endblock %}
	<!--
	<link href="/style/website.css{{SOLARPERMIT_VERSION}}" rel="stylesheet" type="text/css" media="screen" />
	<link href="/style/main.css{{SOLARPERMIT_VERSION}}"  rel="stylesheet" type="text/css" media="screen" />
	
	<link rel="stylesheet" type="text/css" href="/js/notifybar/jquery.notifyBar.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/superfish.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/jquery.mobile.css{{SOLARPERMIT_VERSION}}" />
	<link rel="stylesheet" type="text/css" href="/style/tooltip.css{{SOLARPERMIT_VERSION}}" />
	<link href="/style/screen.css"  rel="stylesheet" type="text/css" media="screen" />-->
	
	{% include "website/fancybox_stylesheets.html" %}
        {% assets "main-css" %}
	        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "flexcomplete-css" %}
	        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "jquery-css" %}
	        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% assets "fileuploader-css" %}
	        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

	{% block forejs %}{% endblock %}
        {% assets "jquery-js" %}
                <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "controller-js" %}
                <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "fileuploader-js" %}
                <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
	
	<script type='text/javascript'>
	var js_csrf = '{{csrf_token}}';	
	function set_error_class()
	{
	    document.getElementById('username').style.backgroundColor="#FCC";
	    document.getElementById('password').style.backgroundColor="#FCC"; 
	}
	
	$(document).ready(function() {
		$("#trouble_signing_in_a").click(function (){
			controller.postRequest('/account/', {ajax: 'trouble_signing_in'}); return false;
		});
			
			
		$("#form_sign_in_submit_button").click(function (){
			controller.submitForm('#form_sign_in');
			return false;
		});
	});
	</script>

</head>

<body style="">

<div id="shell" style="display:table;margin:0px auto;padding-top:5%;">
	{% block body %}
	{% endblock %}
</div>

{% include "website/footer.html" %}

{% block endjs %}{% endblock %}


{% block dialog %}
{% include "base_message_dialog.html" %}
{% include "base_info_dialog.html" %}
{% endblock %}

{% include "website/fancybox_scripts.html" %}
{% include "website/blocks/system_message.html" %}
<div id="fromServer"></div>
<div id="fancyboxformDiv"></div>
<div id="secondDialogDiv"></div>
</body>
</html>
<!-- end template base.html -->
