{% block pagination %}
<!--
    #in: current_page
    #in: queryset count - total_count
    #in: href
    #in: max_rec_per_page
    #in: max_num_of_pages
-->
<script type="text/javascript">
function send_form(page_num)
{
    obj = document.getElementById('page_num');
    obj.value = page_num;
    
    document.getElementById('search_form').submit();
    return false;
}

function submit_form(sort_by, sort_dir)
{   
    pn_obj = document.getElementById('page_num');
    pn_obj.value = '1_1';
    sb_obj = document.getElementById('sort_by');
    sb_obj.value = sort_by;
    sd_obj = document.getElementById('sort_dir');
    sd_obj.value = sort_dir;        

    document.getElementById('search_form').submit();
    return false;
}

</script>
{% if pagination['num_pages'] > 1 %}    
    <div class='pagination'>
    {% if pagination['current_page']|int > 1 %}
         <span ><a class="pagination_command" 
                    href="{{pagination['href_first']}}"
                    {% if pagination['request_method'] == 'post' %}
                        onclick="return send_form('{{pagination['page_num_first']}}');"
                    {% elif pagination['request_method'] == 'ajax' %}
                    onclick="{{pagination['a_onclick_first']}}"
                    {% endif %}
                    ><< First</a>
        </span>   
        <span><a class="pagination_command" 
                    href="{{pagination['href_prev']}}"
                    {% if pagination['request_method'] == 'post' %}
                        onclick="return send_form('{{pagination['page_num_prev']}}');"
                    {% elif pagination['request_method'] == 'ajax' %}
                    onclick="{{pagination['a_onclick_prev']}}"
                    {% endif %}
                    >< Prev</a></span>
    {% endif %}
    {% for page_num in range( pagination['page_range'][0] | int, pagination['page_range'][1]|int + 1) %}
        {% if page_num == pagination['current_page']|int %}
            <span class="pagination_current_page" >{{ page_num }}</span>
        {% else %}
            <span><a class="pagination_command"
                    href="{{ pagination['pages'][page_num] }}"
                    {% if pagination['request_method'] == 'post' %}
                        onclick="return send_form('{{pagination['pages'][page_num]}}');"
                    {% elif pagination['request_method'] == 'ajax' %}
                    onclick="{{ pagination['pages'][page_num] }}"
                    {% endif %}
                    >{{ page_num }}</a></span>
        {% endif %}
    {% endfor %}

    {% if pagination['current_page']|int < pagination['num_pages']|int %}
        <span><a class="pagination_command"
                    href="{{pagination['href_next']}}"
                    {% if pagination['request_method'] == 'post' %}
                         onclick="return send_form('{{pagination['page_num_next']}}');" 
                    {% elif pagination['request_method'] == 'ajax' %}
                    onclick="{{pagination['a_onclick_next']}}"
                    {% endif %}
                    >Next ></a></span>
        <span><a class="pagination_command"
                    href="{{pagination['href_last']}}"
                    {% if pagination['request_method'] == 'post' %}
                         onclick="return send_form('{{pagination['page_num_last']}}');"
                    {% elif pagination['request_method'] == 'ajax' %}
                    onclick="{{pagination['a_onclick_last']}}"   
                    {% endif %}    
                    >Last >></a></span>  
    {% endif %}
    </div> 
{% endif %} 
    {# if pagination['search_params'] | length > 0 #}
    <form method="post" action="{{pagination['href']}}"  name="search_form" id="search_form" accept-charset="utf-8">
        {% for key in pagination['search_params'].keys() %}
        <input type="hidden" name="{{key}}"  value="{{pagination['search_params'].get(key)}}">
        {% endfor %}
        <input id="page_num" type="hidden" name="page_num" value="1_1">
        <input id="sort_by" type="hidden" name="sort_by" value="{{pagination['sort_by']}}">
        <input id="sort_dir" type="hidden" name="sort_dir" value="{{pagination['sort_dir']}}">                
    </form>    
    {# endif #}
   
{% endblock %}
