
<h2>U.S. Department of Energy Grant</h2>

<p style="color: #000; text-align: left;">Solarpermit.org is based in part upon work supported by U.S. Department of Energy under Assistance Agreement No. DE-EE0005349. Permission granted only for personal or educational use, or for use by or on behalf of the U.S. government. Clean Power Finance, Inc. prohibits the unauthorized display, reproduction, sale, and/or distribution of all or portions of the content of the National Solar Permitting Database without prior written consent.</p>
