{% extends "base.html" %}
    
{% block body %}
	<form id="form" action="." onSubmit="return submitForm('#form');" method="post">
		<input type="hidden" name="ajax" value="action1" />
		<div id="test_div">Testing</div>
        <div class="form_field" >
            <div class="label">Required field:</div>        
            <div class="field">
            	<input name="text1" value="" class="required"/>
            </div>  
            <div class="error_div"></div>                            
        </div>   
		<div>
			<input type="button" value="Validate" id="submit_btn" onClick="$('#form').validate().form();" class="smallbutton">
			<input type="submit" value="Submit with onclick" id="submit_btn" onClick="return submitForm('#form');" class="smallbutton">
			<input type="submit" value="Submit no onclick" id="submit_btn" class="smallbutton">
		</div>
	</form>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
function submitForm(formSelector) {
	//this.showMessage('Please wait...', false);
	if ($(formSelector).validate().form()) {  //do validation first
		jQuery.ajax({
			type:'post',
			data:$(formSelector).serialize(), 
			url:$(formSelector).attr('action'),
			dataType: 'json',
			success:function(data,textStatus){
				controller.handleResponse(data);
			},
			error:function(XMLHttpRequest,textStatus,errorThrown){
				alert(textStatus);
			}
		});
	}
	return false;
}
$(document).ready(function () {
	//for IE8 fix, prevent form with ajax from submitting normally after validation
	$('input[name="ajax"]').closest('form').each(function () {
		$(this).submit( function( event ) {
			event.preventDefault();
		});
	});
});
</script>
{% endblock %}
