{% extends "base.html" %}

{% block title %}Test Search{% endblock %}

{% block forestyle %}
<link rel="stylesheet" type="text/css" href="/media/js/flexcomplete/jquery.flexcomplete.css" />
{% endblock %}

{% block endjs %}
<script type="text/javascript" src="/media/js/flexcomplete/jquery.flexcomplete.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
	$('#test_search_field').flexcomplete({
		list_groups: [
  		    {id: 'my', local: true, container: '#test_my_items', header: 'My', max_items: 3},
		    {id: 'recent', local: true, container: '#test_recent_items', header: 'Recent', max_items: 3},
		    {id: 'city', local: false, container: '#cities', header: 'City', max_items: 7},
		    {id: 'zipcode', local: false, container: '#zipcodes', header: 'Zipcode', max_items: 7}
        ],
        search_url: '/s/search/general/',
		search_parameter: 'q',
		allow_form_post: false,
     	show_headers: true,
     	dynamic_headers: true
	});
});
</script>
{% endblock %}

{% block body %}
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
  <tbody><tr>
    <td style="width:70%;">
<div id="carouselcontainer">
	<span class="title">Test Search</span><br><br>
 	
	<form id="test_search_form">
		<input id="test_search_field" class="searchfield" type="text" name="search" placeholder="Type in something to see this demo">
		<input id="id_field" type="hidden" name="id">
	</form>
	<div style="display: none;">
		<ul id="test_recent_items">
			<li><a href="/recent/1/">I have been here.</a></li>
			<li data-id="my_hidden_field" data-value="recent2">Fill in this</li>
			<li><a href="/recent/3/">I have been there too.</a></li>
			<li><a href="/recent/4/">Bring me here anyway.</a></li>
			<li data-id="my_hidden_field" data-value="recent5">Fill in this instead</li>
		</ul>
		<ul id="test_my_items">
			<li><a href="/my_item/1/">My item 1</a></li>
			<li><a href="/my_item/2/">My item 2</a></li>
			<li data-id="my_hidden_field" data-value="my3">My item 3 stays here</li>
		</ul>
	</div>
	
	<div>
		<p>This page demonstrates the capabilities of the custom Flexcomplete JQuery plugin. Search results are for demonstration purpose only.  This does not necessarily match how it would be used on this site.</p>
		<p>This dropdown will show headings of different types of data if there are more than one categories.</p>
		<p>The My and Recent categories are local data already on the page, while the City and Zipcode categories are obtained dynamically from the server.</p>
		<p>Some items, when selected, will go directly to that page (see the resulting url).  The other items, when selected, will be used to populate this input field and not jump to another page.</p>
		<p>All the items from the City category will go directly to a page when selected.</p>
		<p>All the items from the Zipcode category will be used to populate this input when selected.<p>
	</div>
 	
</div>
    </td>
  </tr>
</tbody></table>
{% endblock %}