{% extends "base.html" %}
    
<!-- template jurisdiction_state_browse.html -->
{% block body %}
<div style="height:300px;overflow-y:auto;">


    <form id="{{form_website}}" name="{{form_website}}" action="." method="post" accept-charset="utf-8">
            <input type="hidden" name="ajax" value="jurisdiction_website_submit" />
             <input type="hidden" name="jurisdiction_website_div" value="{{jurisdiction_website_div}}" />
             <input type="hidden" name="jurisdiction_id" value="{{jurisdiction_id}}" />
    <div style="left:10px;padding-top:15px;" id="{{jurisdiction_website_div}}">
        {{body_website}}
    </div>
    </form>
    

</div>
{% endblock %}