		<div style="display: none;">
			<div id="confirm">
				<div class="modal_dialog_top_block" style="display:none;">
					<div class="modal_dialog_title"></div>
					<div class="modal_dialog_close"><a href="#" class="close">&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;</a></div>
				</div>
				<div class="confirm_header">&nbsp;</div>
				<div class="confirm_message">&nbsp;</div>
				<div class="confirm_footer">
					<div class="confirm_buttons">
						<span><a id="message_dialog_yes_btn" href="#" class="mainbutton yes">Go Ahead</a></span>
						<span><a id="message_dialog_no_btn" href="#" class="mainbutton no close">Cancel</a></span>
					</div>
				</div>
			</div>
		</div>