<!DOCTYPE html>
<html lang="en">
<!-- template base.html -->

<head>
	<title>{% block title %}{% endblock %} </title>
	<meta charset="utf-8">
{% include "website/blocks/canonical_url.jinja" %}

	{% block forestyle %}{% endblock %}
        {% compress css %}
	{% include "website/fancybox_stylesheets.jinja" %}
	<link rel="stylesheet" type="text/css" href="{{static('js/flexcomplete/jquery.flexcomplete.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{static('style/jquery-ui-1.10.4.custom.css')}}"/>
	<link href="{{static('style/fileuploader.css')}}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{{static('style/main.css')}}"/>
	{% endcompress %}

	{% block jsdata %}{% endblock %}
	{% block forejs %}{% endblock %}
        {% compress js %}	
	<script type="text/javascript" src="{{static('js/jquery-1.11.0.js')}}"></script>	
	<script type="text/javascript" src="{{static('js/jquery.validate.js')}}"></script>
	<script type="text/javascript" src="{{static('js/additional-methods.js')}}"></script>
	<script type="text/javascript" src="{{static('js/jquery.simplemodal.js')}}"></script>
	<script type="text/javascript" src="{{static('js/jquery.jscroll.custom.js')}}"></script>	
	<script type="text/javascript" src="{{static('js/controller.js')}}"></script>
	<script type="text/javascript" src="{{static('js/jquery.dajax.core.js')}}"></script>
	<script type="text/javascript" src="{{static('js/jquery-ui-1.10.4.custom.js')}}"></script>
	<script type='text/javascript' src="{{static('js/fileuploader.js')}}"></script>	
	
	<script type='text/javascript'>
	var js_csrf = '{{csrf_token}}';	
	function set_error_class()
	{
	    document.getElementById('username').style.backgroundColor="#FCC";
	    document.getElementById('password').style.backgroundColor="#FCC"; 
	}
	
	$(document).ready(function() {
		$("#trouble_signing_in_a").click(function (){
			controller.postRequest('/account/', {ajax: 'trouble_signing_in'}); return false;
		});
			
			
		$("#form_sign_in_submit_button").click(function (){
			controller.submitForm('#form_sign_in');
			return false;
		});
	});
	</script>
        {% endcompress %}
</head>

<body style="">

<div id="shell" style="display:table;margin:0px auto;padding-top:5%;">
	{% block body %}
	{% endblock %}
</div>

{% include "website/footer.jinja" %}

{% block endjs %}{% endblock %}
{% compress js %}
{% include "website/fancybox_scripts.jinja" %}
{% endcompress %}

{% block dialog %}
{% include "base_message_dialog.jinja" %}
{% include "base_info_dialog.jinja" %}
{% endblock %}

{% include "website/blocks/system_message.jinja" %}
<div id="fromServer"></div>
<div id="fancyboxformDiv"></div>
<div id="secondDialogDiv"></div>
</body>
</html>
<!-- end template base.html -->
