<p>Dear {{member_me.user.username}},</p>

<p>Your request to join {{member_me.organization.name}} has been approved by {{username}}.</p>

<p>{{member_me.organization.name}} will now appear on your profile page. Sign in to SolarPermit.org to see details for {{member_me.organization.name}}.</p>

<p>--The team at SolarPermit.org</p>

<p><a style="background:#86bc0a;border:1px solid #618806;height:20px;padding:5px 20px 5px 20px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#ffffff;font-weight:bold;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin: 2px 4px;" href="{{site_url}}/sign_in/?username={{member_me.user.username}}&next=/profile">Sign in to SolarPermit.org...</a></p>