<p>{% if username != '' %} {{username}} {% else %} {{first_name}} {{last_name}} {% endif %} has sent the following feedback about SolarPermit.org:</p>


<p>Full Name: {{first_name}} {{last_name}}</p>

{% if username != '' %}
<p>Username: {{username}}</p>
{% endif %}

<p>Email: {{user_email}}</p>

<p>Title: {{title}}</p>

<p>Organization(s): {{user_orgs}}</p>

<p>Feedback: {{feedback}}</p>
