<p>The user {{user.get_profile().get_display_name()}} flaged the comment at <a href="{{site_url}}/jurisdiction/{{comment.jurisdiction.id}}/">{{comment.jurisdiction.name}}</a>.</p>

<p>The comment:</p>

<p>{{comment.comment}}</p>

<p>The comment author: {{comment.user.get_profile().get_display_name()}}</p>