<p>Dear {{member_me.user.username}},</p>

<p>{{username}} has invited you to join the organization {{member_me.organization.name}} on SolarPermit.org. </p>

<p>As a member of {{member_me.organization.name}}, you'll be able to connect with your colleagues on the site and {{member_me.organization.name}} will share credit for data that you contribute to the database. </p>


<p>Please sign in to SolarPermit.org to accept or decline this invitation.</p>

<p>Thanks</p>
<p>The SolarPermit.org team</p>

<p><a style="background:#86bc0a;border:1px solid #618806;height:20px;padding:5px 20px 5px 20px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#ffffff;font-weight:bold;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin: 2px 4px;" href="{{site_url}}/sign_in/?username={{member_me.user.username}}&next=/profile">Sign in to SolarPermit.org...</a></p>

