<p>Hello,</p>

<p>You've been invited to join SolarPermit.org as a member of {{org_name}} by {{invitor}}!</p>

<p>SolarPermit.org compiles the most complete and accurate permitting requirements from solar professionals from around the United States in one single online location. Supported by a $3MM grant from the U.S. Department of Energy's SunShot Initiative, this community-driven, interactive database is designed to help streamline and reduce the time and costs attributed to the solar permitting process. </p>

<p>As a member of {{org_name}}, you'll be able to connect with your colleagues and access up-to-date information on solar permitting requirements for AHJs nationwide. {{org_name}} will also receive credit for data that you contribute to SolarPermit.org. </p>

<p>Please create an account for SolarPermit.org if you wish to accept this invitation.{% if type == 'MI' %}  The admin for {{org_name}} must approve your membership before it is final.{% endif %}</p>

<p>--The team at SolarPermit.org</p>

<p><a style="background:#86bc0a;border:1px solid #618806;height:20px;padding:5px 20px 5px 20px;font-family:Tahoma, Geneva, sans-serif;font-size:12px;color:#ffffff;font-weight:bold;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin: 2px 4px;" href="{{site_url}}?invitation_key={{invitation_key}}">Create an account for SolarPermit.org...</a></p>