<p>Dear {{username}},</p>
</br>
<p>Thank you for registering as a user at <a href="{{site_url}}" >solarpermit.org</a>.</p>
</br>
<p>We will notify you when we officially launch our full site this spring, when you can access more permitting data and begin entering information you know about your local permitting processes.  In the meantime, if you have any questions, are interested in becoming a usability tester, or would like to submit your own permitting data, please email <a href="mailto:permitting@cleanpowerfinance.com">permitting@cleanpowerfinance.com</a>.</p>
</br>
<p>Thanks,</p>

<p>--The team at SolarPermit.org</p>
