<p>Dear {{username}},</p>
</br>
<p>Thank you for registering as a user at <a href="{{site_url}}" >solarpermit.org</a>.</p>
</br>
<p>SolarPermit.org hosts the National Solar Permitting Database, a free, online database of information related to solar permitting. The site is interactive and crowd-sourced – similar to Wikipedia - and relies on users like you to contribute. You can access more permitting data and begin entering information you know about your local permitting processes today. 
If you have any questions about the site  please email <a href="mailto:permitting@cleanpowerfinance.com">permitting@cleanpowerfinance.com</a>.</p>
</br>
<p>Thanks,</p>

<p>--The SolarPermit.org Team</p>
